{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">

  {% if page.offcanvas_top %}
      {{ page.offcanvas_top }}
  {% endif %}

  {% if page.offcanvas_side %}
      {{ page.offcanvas_side }}
  {% endif %}

  {% if page.navbar_top %}
    {% embed '@RADIX_SUBTHEME_MACHINE_NAME/02-molecules/navigation/navbar/navbar.twig' with {
      container: container ?: 'fixed',
      color: color ?: 'light',
      collapse_button: collapse_button ?: true,
      utilities: utilities ?: [
        'navbar-expand-lg',
        'justify-content-between',
        'navbar-top',
      ],
    } %}

      {% block branding %}
        {% if page.navbar_branding %}
          {{ page.navbar_branding }}
        {% endif %}
      {% endblock %}

      {% block top %}
        {{ page.navbar_top }}
      {% endblock %}

    {% endembed %}
  {% endif %}

  {% embed '@RADIX_SUBTHEME_MACHINE_NAME/02-molecules/navigation/navbar/navbar.twig' with {
    container: container ?: 'fixed',
    color: color ?: 'light',
    utilities: utilities ?: [
      'navbar-expand-lg',
      'justify-content-between',
      'navbar-middle',
    ],
  } %}

    {% block main %}
      {% if page.navbar_main %}
        {{ page.navbar_main }}
      {% endif %}
    {% endblock %}

  {% endembed %}

  {% if page.navbar_bottom %}
    {% embed '@RADIX_SUBTHEME_MACHINE_NAME/02-molecules/navigation/navbar/navbar.twig' with {
      container: container ?: 'fixed',
      utilities: utilities ?: [
        'navbar-expand-lg',
        'justify-content-between',
        'navbar-bottom',
      ],
    } %}

      {% block bottom %}
        {{ page.navbar_bottom }}
      {% endblock %}

    {% endembed %}
  {% endif %}

  <main>
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {% if page.header %}
      <header class="page__header">
        <div class="container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}

    {% if page.content %}
      <div class="page__content">
        <div class="container">
          {{ page.content }}
        </div>
      </div>
    {% endif %}
  </main>

  {% if page.footer_top or page.footer_first or page.footer_second or page.footer_bottom %}
    {# TODO: Move to page-footer.twig. #}
    <footer class="page__footer">
      <div class="container">
        {% if page.footer_top %}
          <div class="footer-top d-md-flex justify-content-md-between">
            {{ page.footer_top }}
          </div>
        {% endif %}
        {% if page.footer_first or page.footer_second %}
          <div class="footer-middle d-md-flex justify-content-md-between">
            {% if page.footer_first %}
              <div class="footer-first">
                {{ page.footer_first }}
              </div>
            {% endif %}
            {% if page.footer_second %}
              <div class="footer-second">
                {{ page.footer_second }}
              </div>
            {% endif %}
          </div>
        {% endif %}
        {% if page.footer_bottom %}
          <div class="footer-bottom d-md-flex justify-content-md-between">
            {{ page.footer_bottom }}
          </div>
        {% endif %}
      </div>
    </footer>
  {% endif %}
</div>
