// Custom styles for the address component.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: https://zeroheight.com/0a635880c/p/9249d9-address
// Bootstrap Doc: https://getbootstrap.com/docs/4.5/content/reboot/#address
// -----------------------------------------------------------------------------

address,
.address {
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }
  @include media-breakpoint-up(xl) {
  }
}
