{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

<button{{ attributes }}>
  <span class="fas fa-search" aria-hidden="true"></span>
  <span class="sr-only">Search</span>
</button>
