// Custom styles for the term page.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: @todo
// -----------------------------------------------------------------------------


.path-taxonomy-term {
  .page__content {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
