@mixin material-icons {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons";
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;

  font-feature-settings: "liga";
}

@mixin icon-before($icon: "menu", $width: 1rem, $height: 1rem) {
  align-items: flex-start;
  display: flex;
  gap: .25rem;
  &:before {
    background: url(../images/icon-#{$icon}.svg) no-repeat center left;
    background-size: $width $height;
    content: "";
    display: inline-block;
    height: $height;
    min-width: $width;
    width: $width;
  }
}

@mixin icon-after($icon: "menu", $width: 1rem, $height: 1rem) {
  &:after {
    background: url(../images/icon-#{$icon}.svg) no-repeat center left;
    background-size: $width $height;
    content: "";
    display: inline-block;
    height: $height;
    margin-left: .25rem;
    min-width: $width;
    width: $width;
  }
}
