{#
/**
 * @file
 * Template for a mustache component.
 */
#}

{% if content|render %}
  {#### Set variables ####}
  {# Defaults #}
  {% set wrapper = wrapper ?: 'div' %}
  {% set attributes = attributes ?: create_attribute() %}
  {# Blockname #}
  {% set blockname = blockname ?: [] %}
  {# Modifiers #}
  {% set modifiers = modifiers ?: [] %}
  {# Utilities #}
  {% set utilities = utilities ?: [] %}
  {# TODO: Do we want the component name as a class on it's own, or does that get in the way? #}
  {# TODO: difference between class="blockname__mustache mustache" or class="blockname__mustache" #}
  {# TODO: applies to all components at this level. #}
  {% set utilities = utilities|merge([
    'mustache',
  ]) %}

  {#### Build markup #####}
  <{{ wrapper }}{{ bem('mustache', modifiers, blockname, utilities) }}>{{ content }}</{{ wrapper }}>
{% endif %}
