// Custom styles for the search page.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// -----------------------------------------------------------------------------

.path-search {
  .block--mainpagecontent {


    > h2 {
      @extend .sr-only;
    }
  }

  .page__content {

    @include my(4rem);

    h1 {
      @include page-title;
      @include mb(2rem);
      text-align: left;
      display: none;
    }

    .search-form {
      display: none;
    }

    ol {
      list-style-type: none;

      @include p(0);
    }
  }

  .pager__items {
    @include make-col(12);
  }
}
