.full-bleed {
  @include full-bleed;
}

// D9.5+/Claro glitch: prevent CKEditor from overflowing into other UI elements
.ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items {
  flex-wrap: wrap !important;
}
