// Custom styles for the card component.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: @todo
// -----------------------------------------------------------------------------

// TODO: maybe this would be better than the w-100 breaks?
.card-deck {
  @include media-breakpoint-down(md) {
    justify-items: center;
  }
  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  column-gap: 0;
  row-gap: $grid-gutter-width;


  &.columns-4 {
    @include media-breakpoint-up(lg) {

    }
  }
  &.columns-3 {
    @include media-breakpoint-up(lg) {

    }
  }

  &.columns-2 {
    @include media-breakpoint-up(lg) {

    }
  }
  &.columns-1 {
    @include media-breakpoint-up(md) {

    }
  }

  .card {
    min-width: 100%;
    @include media-breakpoint-up(sm) {
      min-width: calc(map.get($container-max-widths, "sm"));
      max-width: calc(map.get($container-max-widths, "sm"));
    }

    @include media-breakpoint-up(md) {
      min-width: calc((map.get($container-max-widths, "md") / 2) - 30px);
      max-width: calc((map.get($container-max-widths, "md") / 2) - 30px);

    }
    @include media-breakpoint-up(lg) {
      min-width: calc((map.get($container-max-widths, "lg") / 3) - 30px);
      max-width: calc((map.get($container-max-widths, "lg") / 3) - 30px);

    }

    @include media-breakpoint-up(xl) {

      min-width: calc((map.get($container-max-widths, "xl") / 3) - 30px);
      max-width: calc((map.get($container-max-widths, "xl") / 3) - 30px);
    }
  }
}

.card {

  border: 0;
  &.card--card-img-bg {
    aspect-ratio: 4/3;

    @include media-breakpoint-up(md) {

    }
    @include media-breakpoint-up(lg) {
      aspect-ratio: 290/193;

    }
    @include media-breakpoint-up(xl) {
      aspect-ratio: 350/233;

    }

    border: 0;
    position: relative;

    .card-inner {

      @include hover-focus {
        .field--field-media {
          &:before {
            box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 1000px inset;
          }
        }
      }
    }

    a.card-inner {
      display: block;
    }

    .field--field-media {
      &:before {
        bottom: 0;
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 1000px inset;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: box-shadow 0.3s ease-in-out;
      }
    }

    .card__eyebrow {
      @include card-eyebrow;

      color: $white;
      margin-bottom: .25rem;
    }

    .card__heading {
      @include card-heading;

      color: $white;
      margin-top: 0;
    }

    .card__mustache {
      @include card-mustache;

      color: $white;
    }

    &.no-media {
      @include media-breakpoint-down(md) {
        max-width: 375px;
      }

      .card-inner {
        min-height: 275px;
        @include media-breakpoint-up(md) {
          min-height: 230px;
        }
        @include media-breakpoint-up(lg) {
          min-height: 193px;
        }
        @include media-breakpoint-up(xl) {
          min-height: 233px;
        }
        @include hover-focus {
          background-color: darken(#1778be, 10%);
          text-decoration: none;

          .card__eyebrow {
            text-decoration: none;
          }

          .card__heading {
            text-decoration: none;
          }

          .card__mustache {
            text-decoration: none;
          }
        }

        background-color: #1778be;
        height: 100%;
        transition: background-color 0.3s ease-in-out;
      }
    }

    .contextual-region {
      position: initial;
    }
  }

  &.card--display-teaser:not(.node--type-event) {
    @include p(1rem 0);

    border-bottom: $border-dark;

    .card-img-right {
      @include media-breakpoint-up(md) {
        padding-left: $grid-gutter-width;
      }
    }



    .card-body {
      .heading {
        @include mt(0);
        @include text-typography($family: $headings-font-family, $size: 22px, $weight: 600, $lh: 1.5);

        color: $black;


        a {
          color: $black;
        }
      }

      .mustache {
        @include text-typography($size: 16px, $weight: 800, $ls: .25px, $lh: 1.5, $tt: uppercase);

        color: $black;
      }
    }
  }
}
