{#
/**
 * @file
 * Template for the Accordion item component.
 *
 * Available variables:
 * - wrapper: The HTML element to use to wrap this component.
 * - attributes: The HTML attributes to use on the wrapper for this component.
 * - content: The properties, fields, and regions for this component.
 * - heading
 * - heading_wrapper
 * - image
 * - body
 * - target
 */
#}

{#### Set variables ####}
{# Defaults #}
{% set wrapper = wrapper ?: 'div' %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{% set modifiers = modifiers|merge([
  'accordion_item',
]) %}
{# Utilities #}
{% set utilities = utilities ?: [] %}
{% set utilities = utilities|merge([
  'accordion_item',
  paragraph and not paragraph.status ? 'unpublished',
]) %}

{#### Build markup #####}
{% include '@RADIX_SUBTHEME_MACHINE_NAME/03-organisms/card/card.twig' with {
  inner_wrap: true,
  card_header: {
    content: card_header.content ?: null,
    attributes: target ? create_attribute({
      'id': target ~ '-heading',
      'role': 'button',
      'data-toggle': 'collapse',
      'data-target': '#' ~ target,
      'aria-expanded': 'false',
      'aria-controls': target,
      'class': 'collapsed',
    }),
  },
  card_inner: {
    wrapper: 'div',
    attributes: target ? create_attribute({
      'id': target,
      'class': ['card-inner', 'row', 'collapse'],
      'aria-labelledby': target ~ '-heading',
      'data-parent': '#accordion-' ~ parent_id,
    }),
  },
} %}
