{#
/**
 * @file
 * Template for a card container component.
 *
 * Available variables:
 * - cards
 * - container_type: group, deck, or columns.
 * - columns
 * - grid: true or false, determines which method to use to handle breakpoints
 *  -- css-grid if true, janky w- breakpoints otherwise.
 * TODO: figure out which method is better. @see this twig file and _card.scss
 */
#}

{% if cards %}
  {#### Set variables ####}
  {# Defaults #}
  {% set wrapper = wrapper ?: 'div' %}
  {% set container_type = container_type ?: 'deck' %}
  {% set columns = columns ?: 3 %}
  {% set grid = grid ?: true %}
  {# Modifiers #}
  {% set modifiers = modifiers ?: [] %}
  {% set modifiers = modifiers|merge([
    grid ? 'grid',
  ]) %}
  {# Utilities #}
  {% set utilities = utilities ?: [] %}
  {% set utilities = utilities|merge([
    'card-' ~ container_type,
    'columns-' ~ columns,
  ]) %}

  {#### Build markup #####}
  <{{ wrapper }}{{ bem('card-container', modifiers, '', utilities) }}>
    {% for card in cards %}
      {{ card }}
      {% if grid == false %}
        {# TODO: I think we generally do not want to do it this way, but leaving it here for now. By default, card containers are using a css grid display. #}
        {# TODO: @see: https://stackoverflow.com/questions/36487389/bootstrap-4-card-deck-table-cell-columns-responsive-based-on-viewport #}
        {# TODO: @see: https://www.codeply.com/go/nIB6oSbv6q #}
        {# Breakpoint - Extra Small #}
        {% if loop.index is divisible by(1) %}
          <div class="w-100 d-block d-sm-none"></div>
        {% endif %}
        {# Breakpoint - Small #}
        {% if loop.index is divisible by(1) %}
          <div class="w-100 d-none d-sm-block d-md-none"></div>
        {% endif %}
        {# Breakpoint - Medium #}
        {% if loop.index is divisible by(2) %}
          <div class="w-100 d-none d-md-block d-lg-none"></div>
        {% endif %}
        {# Breakpoint - Large #}
        {% if loop.index is divisible by(3) %}
          <div class="w-100 d-none d-lg-block d-xl-none"></div>
        {% endif %}
        {# Breakpoint - Extra Large #}
        {% if loop.index is divisible by(4) %}
          <div class="w-100 d-none d-xl-block"></div>
        {% endif %}
      {% endif %}

    {% endfor %}
  </{{ wrapper }}>
{% endif %}
