{#
/**
 * @file
 * Template for the Card component.
 *
 * Available variables:
 * - content
 * - wrapper: The HTML element to use to wrap this component.
 * - attributes: The HTML attributes to use on the wrapper for this component.
 * - blockname: Added to the wrapper attributes as a class in a BEM syntax. Passed down to included components.
 * - modifiers: Added to the wrapper attributes as classes with the blockname in a BEM syntax.
 * - utilities: Added to the wrapper attributes as classes.
 * - card_type: 'card-img-top' | 'card-img-left' | 'card-img-right' | 'card-img-bg'.
 * - heading_wrapper: Heading level to use for the card title.
 * - card_inner: optional wrapper around card_img and card_body, used for left and right image alignment.
 *   - wrapper
 *   - attributes
 *
 * Region variables:
 * - card_header
 * - card_inner
 * - card_image
 * - card_eyebrow
 * - card_title
 * - card_mustache
 * - card_body
 * - card_footer
 * Each region variable contains the following properties:
 * - wrapper
 * - attributes
 * - content
 *
 * Bootstrap 4 classes we are not currently utilizing:
 * - card-text
 * - card-subtitle
 * @see https://getbootstrap.com/docs/4.0/components/card/
 *
 * TODO: documentation link to component resources.
 * TODO: abstract this further away from the layout template card.html.twig? This will probably break if anything other than a ds-enabled layout tried to use it.
 */
#}

{#### Set variables ####}
{# Defaults #}
{% set wrapper = wrapper ?: 'div' %}
{% set card_type = card_type ?: 'card-img-top' %}
{# TODO: Make heading_wrapper configurable. #}
{% set heading_wrapper = heading_wrapper ?: 'div' %}
{# TODO: These defaults are needed in order to safely use this outside of the card layout template. see above TODO.  #}
{% set card_header = {
  'wrapper': card_header.wrapper ?: 'div',
  'attributes': card_header.attributes ?: create_attribute(),
  'content': card_header.content ?: null
} %}
{% set card_inner = {
  'wrapper': card_inner.wrapper ?: 'div',
  'attributes': card_inner.attributes ?: create_attribute(),
  'content': card_inner.content ?: null
} %}
{% set card_image = {
  'wrapper': card_image.wrapper ?: 'div',
  'attributes': card_image.attributes ?: create_attribute(),
  'content': card_image.content ?: null
} %}
{% set card_body = {
  'wrapper': card_body.wrapper ?: 'div',
  'attributes': card_body.attributes ?: create_attribute(),
  'content': card_body.content ?: null
} %}
{% set card_title = {
  'wrapper': card_title.wrapper ?: 'div',
  'attributes': card_title.attributes ?: create_attribute(),
  'content': card_title.content ?: null
} %}
{% set card_eyebrow = {
  'wrapper': card_eyebrow.wrapper ?: 'div',
  'attributes': card_eyebrow.attributes ?: create_attribute(),
  'content': card_eyebrow.content ?: null
} %}
{% set card_mustache = {
  'wrapper': card_mustache.wrapper ?: 'div',
  'attributes': card_mustache.attributes ?: create_attribute(),
  'content': card_mustache.content ?: null
} %}
{% set card_footer = {
  'wrapper': card_footer.wrapper ?: 'div',
  'attributes': card_footer.attributes ?: create_attribute(),
  'content': card_footer.content ?: null
} %}
{# Contained #}
{% set contained = contained ?: false %}
{% set container_classes = [
  'container',
] %}
{# Inner wrapped #}
{% set inner_wrap = inner_wrap ?: true %}
{# Blockname #}
{% set blockname = blockname?: 'card' %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{% set modifiers = modifiers|merge([
  card_type,
  display_type,
]) %}
{# Utilities #}
{% set utilities = utilities ?: [] %}
{% set utilities = utilities|merge([
  has_media ? 'with-' ~ has_media ~ '-' ~ image_position : 'no-media',
  node and not node.isPublished() ? 'unpublished',
  paragraph and not paragraph.status ? 'unpublished',
]) %}

{#### Build markup #####}
<{{ wrapper }}{{ bem(blockname, modifiers, '', utilities) }}>

  {# Card header #}
  {% block header %}
    {% if card_header.content %}
      <{{ card_header.wrapper }}{{ card_header.attributes.addClass('card-header') }}>
        {{ card_header.content }}
      </{{ card_header.wrapper }}>
    {% endif %}
  {% endblock %}

  {% if contained %}
    <div {{ bem('container', '', blockname, container_classes) }}>
  {% endif %}

  {% if inner_wrap or card_inner.content %}
    <{{ card_inner.wrapper }}{{ card_inner.attributes.addClass('card-inner') }}>
    {% if card_inner.content|render %}
      {{ card_inner.content }}
    {% endif %}
  {% endif %}

  {# Card image #}
  {% block image %}
    {% if has_media and card_image.content %}
      {% set img_order = (card_type == 'card-img-right') ? 'order-md-last' : '' %}
      {% set img_bg = (card_type == 'card-img-bg') ? 'card-img' : '' %}
      <{{ card_image.wrapper }}{{ card_image.attributes.addClass(card_type, img_order, img_bg) }}>
        {{ card_image.content }}
      </{{ card_image.wrapper }}>
    {% endif %}
  {% endblock %}

  {# Card body #}
  {% block body %}
    {% if card_body.content|render or card_title.content|render or card_eyebrow.content|render or card_mustache.content|render %}
      {% set img_overlay = (card_type == 'card-img-bg' and has_media) ? 'card-img-overlay' : '' %}
      <{{ card_body.wrapper }}{{ card_body.attributes.addClass('card-body', img_overlay) }}>
    {% endif %}

      {# Card title #}
      {% block title %}
        {% if card_title.content|render or card_eyebrow.content|render or card_mustache.content|render %}
          {# TODO: Can't use bem() on region wrappers because their context doesn't use attributes in the expected way. #}
          <{{ card_title.wrapper }}{{ card_title.attributes.addClass('card-title') }}>
            {% include '@RADIX_SUBTHEME_MACHINE_NAME/02-molecules/face/face.twig' with {
              blockname: blockname,
              eyebrow: card_eyebrow.content|render ? card_eyebrow.content,
              eyebrow_utilities: eyebrow.attributes,
              title: card_title.content|render ? card_title.content,
              heading_wrapper: heading_wrapper,
              heading_attributes: heading_attributes,
              heading_modifiers: heading_modifiers,
              heading_utilities: heading_utilities,
              mustache: card_mustache.content|render ? card_mustache.content,
              mustache_utilities: mustache.attributes,
            } only %}
          </{{ card_title.wrapper }}>
        {% endif %}
      {% endblock %}

      {% if card_body.content|render %}
        {{ card_body.content }}
      {% endif %}
    {% if card_body.content|render or card_title.content|render or card_eyebrow.content|render or card_mustache.content|render %}
      </{{ card_body.wrapper }}>
    {% endif %}
  {% endblock %}

  {% if inner_wrap or card_inner.content|render %}
    </{{ card_inner.wrapper }}>
  {% endif %}

  {% if contained %}
    </div>
  {% endif %}

  {# Card footer #}
  {% block footer %}
    {% if card_footer.content|render %}
      <{{ card_footer.wrapper }}{{ card_footer.attributes.addClass('card-footer') }}>
        {{ card_footer.content }}
      </{{ card_footer.wrapper }}>
    {% endif %}
  {% endblock %}

</{{ wrapper }}>
