{#
/**
 * @file
 * Template for the Signpost component.
 *
 * Available variables:
 * - wrapper: The HTML element to use to wrap this component.
 * - attributes: The HTML attributes to use on the wrapper for this component.
 * - content: The properties, fields, and regions for this component.
 * - heading
 * - heading_wrapper
 * - image
 * - body
 * - url
 */
#}

{#### Set variables ####}
{# Defaults #}
{% set wrapper = wrapper ?: 'div' %}
{% set heading_wrapper = heading_wrapper ?: 'h3' %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{% set modifiers = modifiers|merge([
  'signpost',
]) %}
{# Utilities #}
{% set utilities = utilities ?: [] %}
{% set utilities = utilities|merge([
  'signpost',
  url ? 'linked' : 'not-linked',
  paragraph and not paragraph.status ? 'unpublished',
]) %}
{% set target = target ?: '_self' %}

{#### Build markup #####}
{% include '@RADIX_SUBTHEME_MACHINE_NAME/03-organisms/card/card.twig' with {
  inner_wrap: true,
  card_inner: {
    wrapper: url ? 'a',
    attributes: url ? create_attribute({'href': url, 'target': target}),
  },
} %}
