// Custom styles for the secondary navigation component.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: @todo
// -----------------------------------------------------------------------------


.block--secondarynavigation {
  @include media-breakpoint-down(md) {
    display: none;
  }

  ul {
    > .nav-item {
      > .nav-link {
        @include secondary-menu-item-text;
        @include hover-focus {
          > span {
            @include text-snakeline($black);
          }
        }

        padding: rem-calc(17px) rem-calc(15px);

        &.is-active > span {
        }
      }

      &:last-child {
        display: flex;
        @include mb(2px);
      }

      > .nav-btn {
        @include hover-focus {
          background-color: #358dd4;
          color: $black !important;
        }
        @include ml(16px);
        @include mr(32px);
        @include p(10px 30px);

        align-self: center;
        background-color: #75bee9;
        color: $black !important;
      }
    }
    > .nav-item.active > .nav-link {
      color: $black;
    }
  }
}

.block--secondarynavigation-md {
  @include media-breakpoint-only(md) {
    display: block;
  }

  display: none;

  ul {
    display: flex;
    flex-direction: column;

    > .nav-item {
      > .nav-link {
        color: #000;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: 1.23px;
        line-height: 20px;
        padding: 1rem;
        padding-left: 0;
        text-transform: uppercase;
      }

      > .nav-btn {
        @include hover-focus {
          background-color: $primary;
          color: $white;
        }

        align-self: center;
        background-color: $primary;
        color: $white;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding: 16px 30px;
        text-align: center;
      }
    }
  }
}

.block--secondarynavigation-sm {
  @include media-breakpoint-up(md) {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column;

    > .nav-item {
      > .nav-link {
        color: #000;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: 1.23px;
        line-height: 20px;
        padding: 1rem;
        padding-left: 0;
        text-transform: uppercase;
      }

      > .nav-btn {
        @include hover-focus {
          background-color: #bd8e1d;
          color: $black;
        }

        align-self: center;
        background-color: $primary;
        color: $white;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding: 16px 30px;
        text-align: center;
      }
    }
  }
}
