#offcanvas-top {
  background-color: $white;
  display: none;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 99999;

  &.show {
    display: block;
  }

  .offcanvas__container {
    border-bottom: 8px solid #216ba6;
    padding: 1.8rem 1rem;
  }
}

#offcanvas-side {
  background-color: rgba(0,0,0,0.85);
  display: none;
  height: 100vh;
  position: fixed;
  right: 0;
  width: 100vw;
  z-index: 99999;


  &.show {
    @include media-breakpoint-only(md) {
      display: block;
    }
  }

  .offcanvas__container {
    background-color: $white;
    height: 100vh;
    padding: 1rem 2rem;
    position: fixed;
    right: 0;
    width: 40vw;
  }
}

.offcanvas-side--close {
  align-items: center;
  background: none;
  border: none;
  color: $white;
  display: flex;
  font-size: 13px;
  font-weight: 700;
  padding: 1rem 2rem;
  position: absolute;
  right: 40vw;
  text-transform: uppercase;

  &:before {
   @include material-icons;

    content: 'close';
    font-size: 2rem;
    padding-right: .5rem;
  }
}
