// Custom styles for the contact page.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: @todo
// -----------------------------------------------------------------------------

.path-contact {
  .block--mainpagecontent {
    @include media-breakpoint-up(lg) {
      @include make-col(8);
    }
  }

  .btn[value='Preview'] {
    display: none;
  }

  .page__content {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
