// Custom styles for the standard layout.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: @todo
// -----------------------------------------------------------------------------

.layout--standard {
  .layout__row--middle {
    @include mb(5);
  }

  .layout__region--sidebar-first,
  .layout__region--sidebar-second {
    @include media-breakpoint-down(sm) {
      @include mt(2rem);
    }
  }

  &.node--type-homepage {
    .layout__row--middle {
      @include mb(0);
    }
  }
}
