{#
/**
 * @file
 * Template for a standard layout.
 *
 * Available variables:
 * - content
 * - wrapper: The HTML element to use to wrap this component.
 * - attributes: The HTML attributes to use on the wrapper for this component.
 * - blockname: Added to the wrapper attributes as a class in a BEM syntax. Passed down to included components.
 * - modifiers: Added to the wrapper attributes as classes with the blockname in a BEM syntax.
 * - utilities: Added to the wrapper attributes as classes.
 *
 *  Regions:
 *  each region contains a 'wrapper', 'attributes', and 'content' variable,
 *  editable with Display Suite, unless it is passed to a component as noted below.
 *  - top
 *    - top_first
 *    - eyebrow: 'content' passed to face.twig
 *    - title_region: 'content' passed to face.twig
 *    - mustache: 'content' passed to face.twig
 *    - top_second
 *  - middle
 *    - sidebar_first
 *    - main
 *      - media
 *      - body_region
 *    - sibebar_second
 *  - bottom
 *    - bottom_first
 *    - bottom_second
 */
#}

{#### Set variables ####}
{# Set some defaults. #}
{% set wrapper = wrapper ?: 'article' %}
{# Blockname #}
{% set blockname = blockname?: 'layout' %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{% set modifiers = modifiers|merge([
  'standard',
  has_media ? 'has-media': 'no-media',
]) %}
{# Utilities #}
{% set utilities = utilities ?: [] %}
{% set utilities = utilities|merge([
  node and not node.isPublished() ? 'unpublished'
]) %}

{#### Build markup #####}
<{{ wrapper }}{{ bem(blockname, modifiers, '', utilities) }}>

  {% block top %}
    {% if top.content|render or
      top_first.content|render or
      eyebrow.content|render or
      title_region.content|render or
      mustache.content|render or
      top_second.content|render
    %}
      <{{ top.wrapper }}{{ top.attributes.addClass([blockname ~ '__section', blockname ~ '__section--top']) }}>
        {% if top.attributes.hasClass('full-bleed') %}
          <div class="container">
        {% endif %}
        {% if top.content|render %}
          {{ top.content }}
        {% endif %}
        {% if top_first.content|render %}
          {# TODO: Can't use bem() on region wrappers because their context doesn't use attributes in the expected way. #}
          <{{ top_first.wrapper }}{{ top_first.attributes.addClass([blockname ~ '__region', blockname ~ '__region--top-first']) }}>
            {{ top_first.content }}
          </{{ top_first.wrapper }}>
        {% endif %}
        {% if eyebrow.content|render or title_region.content|render or mustache.content|render %}
          <{{ title_region.wrapper }}{{ title_region.attributes.addClass([blockname ~ '__region', blockname ~ '__region--title-region']) }}>
            {% include '@RADIX_SUBTHEME_MACHINE_NAME/02-molecules/face/face.twig' with {
              blockname: blockname,
              eyebrow: eyebrow.content|render ? eyebrow.content,
              title: title_region.content|render ? title_region.content,
              mustache: mustache.content|render ? mustache.content,
              page_title: true,
            } only %}
          </{{ title_region.wrapper }}>
        {% endif %}
        {% if top_second.content|render %}
          <{{ top_second.wrapper }}{{ top_second.attributes.addClass([blockname ~ '__region', blockname ~ '__region--top-second']) }}>
            {{ top_second.content }}
          </{{ top_second.wrapper }}>
        {% endif %}
        {% if top.attributes.hasClass('full-bleed') %}
          </div>
        {% endif %}
      </{{ top.wrapper }}>
    {% endif %}
  {% endblock %}

  {% block middle %}
    {% if middle.content|render or
      sidebar_first.content|render or
      main.content|render or
      media.content|render or
      body_region.content|render or
      sidebar_second.content|render
    %}
      <{{ middle.wrapper }}{{ middle.attributes.addClass([blockname ~ '__section', blockname ~ '__section--middle']) }}>
        {% if middle.attributes.hasClass('full-bleed') %}
          <div class="container">
        {% endif %}
        {% if middle.content|render %}
          {{ middle.content }}
        {% endif %}
        {% if sidebar_first.content|render %}
          <{{ sidebar_first.wrapper }}{{ sidebar_first.attributes.addClass([blockname ~ '__region', blockname ~ '__region--sidebar-first']) }}>
            <{{ sidebar_first.wrapper }} class="{{ blockname ~ '__region--inner' }} {{ blockname ~ '__region--sidebar-first--inner' }}">
              {{ sidebar_first.content }}
            </{{ sidebar_first.wrapper }}>
          </{{ sidebar_first.wrapper }}>
        {% endif %}
        {% if main.content|render or
          media.content|render or
          body_region.content|render
        %}
          <{{ main.wrapper }}{{ main.attributes.addClass([blockname ~ '__region', blockname ~ '__region--main']) }}>
            {% if main.content|render %}
              {{ main.content }}
            {% endif %}
            {% if media.content|render or body_region.content|render %}
              <div class="row justify-content-center">
            {% endif %}
              {% if media.content|render %}
                <{{ media.wrapper }}{{ media.attributes.addClass([blockname ~ '__region', blockname ~ '__region--media']) }}>
                  {{ media.content }}
                </{{ media.wrapper }}>
              {% endif %}
              {% if body_region.content|render %}
                <{{ body_region.wrapper }}{{ body_region.attributes.addClass([blockname ~ '__region', blockname ~ '__region--body-region']) }}>
                  {{ body_region.content }}
                </{{ body_region.wrapper }}>
              {% endif %}
            {% if media.content|render or body_region.content|render %}
              </div>
            {% endif %}
          </{{ main.wrapper }}>
        {% endif %}
        {% if sidebar_second.content|render %}
          <{{ sidebar_second.wrapper }}{{ sidebar_second.attributes.addClass([blockname ~ '__region', blockname ~ '__region--sidebar-second']) }}>
            <{{ sidebar_second.wrapper }} class="{{ blockname ~ '__region--inner' }} {{ blockname ~ '__region--sidebar-second--inner' }}">
              {{ sidebar_second.content }}
            </{{ sidebar_second.wrapper }}>
          </{{ sidebar_second.wrapper }}>
        {% endif %}
        {% if middle.attributes.hasClass('full-bleed') %}
          </div>
        {% endif %}
      </{{ middle.wrapper }}>
    {% endif %}
  {% endblock %}

  {% block bottom %}
    {% if bottom.content|render or
      bottom_first.content|render or
      bottom_second.content|render
    %}
      <{{ bottom.wrapper }}{{ bottom.attributes.addClass([blockname ~ '__section', blockname ~ '__section--bottom']) }}>
        {% if bottom.attributes.hasClass('full-bleed') %}
          <div class="container">
        {% endif %}
        {% if bottom.content|render %}
          {{ bottom.content }}
        {% endif %}
        {% if bottom_first.content|render %}
          <{{ bottom_first.wrapper }}{{ bottom_first.attributes.addClass([blockname ~ '__region', blockname ~ '__region--bottom-first']) }}>
            {{ bottom_first.content }}
          </{{ bottom_first.wrapper }}>
        {% endif %}
        {% if bottom_second.content|render %}
          <{{ bottom_second.wrapper }}{{ bottom_second.attributes.addClass([blockname ~ '__region', blockname ~ '__region--bottom-second']) }}>
            {{ bottom_second.content }}
          </{{ bottom_second.wrapper }}>
        {% endif %}
        {% if bottom.attributes.hasClass('full-bleed') %}
          </div>
        {% endif %}
      </{{ bottom.wrapper }}>
    {% endif %}
  {% endblock %}

</{{ wrapper }}>
