// Custom styles for the listing page type.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: @todo
// -----------------------------------------------------------------------------

.node--type-listing-page {
  &.node--view-mode-full {
    @include mt(4rem);

    > .layout__row--top {
      @include mb(5);
    }

    .view-rows > .heading {
      @include text-typography($family: $headings-font-family, $size: 26px, $lh: 1.25, $ls: .19px);

      border-bottom: $border-default;
      color: $black;
      @include mt(4rem);
      @include mb(5);
      @include pb(4);
    }

    .views-element-container {
      @include mb(6);
    }
  }

  &.node--view-mode-teaser {
  }
  &.node--view-mode-featured {
  }
}

/* Styling BEF Checkboxes to be like links so AJAX works. */
.views-exposed-form.bef-exposed-form input.form-checkbox {
  display: none;
}

/* Styling label like our links. */
.views-exposed-form.bef-exposed-form label.form-check-label {
  color: $black !important;
  cursor: pointer;
  @include p(bsize(2) 0);
}

.views-exposed-form.bef-exposed-form .js-form-type-checkbox {
  @include mt(3);
  @include pl(0);
}

/* Which means we need to add a hover state. */
.views-exposed-form.bef-exposed-form label.form-check-label {
  @include hover {
    color: $black;
  }
}

/* Changes the label if the input is checked.  Like an active state. */
.views-exposed-form.bef-exposed-form input.form-checkbox:checked + label {
  background-color: $primary;
  color: $black;
  @include p(bsize(2) bsize(1))
}

.views-exposed-form.bef-exposed-form ul {
  list-style-type: none;
}

.view-exposed-form--inner {
  border: $border-dark;
  border-top: $sidebar-border-highlight;
  @include p(4);

  .card-header {
    background: transparent;
    border-bottom: $border-dark;
    color: $black;
    font-family: $headings-font-family;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 2rem;
    padding-right: 0;
    padding-bottom: 0.5rem;
    padding-left: 0;

    legend {
      font-size: 22px;
      @include text-typography($size: 22px);
    }
  }

  .card-body {
    padding: 0;

    ul {
      padding-left: 0;

      label {
        @include text-typography(
        $size: 20px,
        $weight: 700,
        $ls: 0.71px,
        $lh: 1.1,
        );

        color: $black;
      }
    }
  }
}
