// Custom styles for the cta component.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: https://getbootstrap.com/docs/4.5/components/navbar/
// -----------------------------------------------------------------------------

.navbar {
  @include py(0);

  display: block;

  > .container {
    display: flex;
  }

  &.bg-dark {
    @include media-breakpoint-down(sm) {
      background: white !important;
    }
  }
}

.navbar-brand {
  flex-grow: 1;
  // TODO: This should be calculated, not static.
  img {
    height: 80px;
  }
}

.navbar-top {

    @include my(3);

}

.navbar-middle {
  @include media-breakpoint-down(md) {
    border-bottom: solid 8px #216ba6;
  }
  @include media-breakpoint-up(lg) {
    background-color: $primary;
  }
}







.navbar-collapse {
  @include media-breakpoint-up(lg) {
    justify-content: flex-end;
  }
}

.navbar-toggler {
  @include media-breakpoint-only(md) {
    display: none;
  }
  @include ml(3);
  @include p(0);

  align-content: center;
  align-self: center;
  border: 0;
  display: flex;
  flex-direction: column;
  height: 52px;
  justify-content: space-between;
  min-width: 40px;

  .collapsed {
  }

  .open {
    display: none;
  }

  &[aria-expanded="true"] {
    .navbar-toggler-icon {
      &:before {
        @include material-icons;

        content: "close";
        font-size: 2rem;
      }
    }

    .open {
      display: block;
    }

    .collapsed {
      display: none;
    }
  }

  .navbar-toggler-icon {
    background-image: none;
    vertical-align: normal;
    &:before {
      @include material-icons;

      color: #6f6f6f;
      content: "menu";
      font-size: 2rem;
      padding: 0.1rem;
    }
  }

  .navbar-toggler-text {
    align-items: center;
    color: #6f6f6f;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 700;
    justify-content: space-between;
    letter-spacing: 0.2px;
    line-height: 15px;
    text-transform: uppercase;
  }
}

.navbar-toggler-md {
  @include media-breakpoint-only(md) {
    display: flex;
  }

  display: none;
}

.search-toggler {
  @include p(0);

  align-items: center;
  background: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  height: 52px;
  justify-content: space-between;

  .search-toggler-icon {
    background-image: none;

    &:before {
      border: 1px solid #efefef;
      color: #6f6f6f;
      content: "\f002";
      font-family: $font-awesome-solid;
      font-size: 1.2rem;
      font-weight: 900;
      padding: 0.5rem;
    }
  }

  .search-toggler-text {
    color: #6f6f6f;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &:active {
    color: #6f6f6f;
  }
}

.menu--toggle {
  background: none;
  border: 0;
  font-size: 1.6rem;

  &:before {
    @include material-icons;

    content: "expand_more";
    font-size: 2rem;
  }
  &[aria-expanded="true"] {
    &:before {
      content: "expand_less";
    }
  }
}
