{#
/**
 * @file
 * Template for Navbar component.
 *
 * Available config:
 * - container: fixed | fluid.
 * - placement: default | fixed-top | fixed-bottom | sticky-top
 * - color: light | dark
 * - utilities: An array of utility classes.
 *
 * Available blocks:
 * - branding
 * - left
 * - right
 *
 * bem() usage:
 *  Four arguments, all optional:
 *   string $element
 *   array $modifiers
 *   string $block
 *   array $utilities
 *
 *   <div {{ bem('element', ['modifier']) }}>
 *  Will create:
 *   <div class="element element--modifier">
 *
 *   <h1 {{ bem('element', ['modifier', 'foo'], 'block', ['utility, 'bar']) }}>
 *  Will create:
 *   <h1 class="block__element block__element--modifier block__element--foo utility bar">
 *
 *  Yes, the arguments are in a weird order.
 */
#}
{{ attach_library('radix/navbar') }}

{#### Set variables ####}
{# Defaults #}
{% set wrapper = wrapper ?: 'nav' %}
{% set attributes = attributes ?: create_attribute() %}
{% set container = container == 'fixed' ? 'container' : false %}
{% set color = color ? 'navbar-' ~ color : 'navbar-light' %}
{% set label = label ?: 'Navigation' %}
{% set collapse_button = collapse_button ?? false %}
{# Blockname #}
{% set blockname = blockname ?: [] %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{# Utilities #}
{% set utilities = utilities ?: [] %}
{% set utilities = utilities|merge([
  color,
  placement ? placement,
]) %}

<{{ wrapper }}{{ bem('navbar', modifiers, blockname, utilities) }} aria-label="{{ label }}">
  {% if container %}
    <div class="{{ container }} {{ container_classes|join(' ') }}">
  {% endif %}

    {% block branding %}
      {{ branding }}
    {% endblock %}

    {% if collapse_button %}
    <button class="search-toggler" type="button" data-toggle="collapse" data-target="#offcanvas-top" aria-controls="offcanvas-top" aria-expanded="false" aria-label="Toggle search">
      <span class="search-toggler-icon"></span>
      <span class="search-toggler-text">
        <span class="collapsed">Search</span>
      </span>
    </button>

    <button class="navbar-toggler navbar-toggler-md" type="button" data-toggle="collapse" data-target="#offcanvas-side" aria-controls="offcanvas-side" aria-expanded="false" aria-label="Toggle offcanvas navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-text">
        <span class="collapsed">Menu</span>
        <span class="open">Close</span>
      </span>
    </button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-text">
        <span class="collapsed">Menu</span>
        <span class="open">Close</span>
      </span>
    </button>
    {% endif %}

    <div class="collapse navbar-collapse">
      {% block top %}
        {{ top }}
      {% endblock %}

      {% block main %}
        {{ main }}
      {% endblock %}

      {% block bottom %}
        {{ bottom }}
      {% endblock %}
    </div>

  {% if container %}
    </div>
  {% endif %}
</{{ wrapper }}>
