{#
/**
 * @file
 * Template for a face component.
 *
 * Variables:
 * - eyebrow
 * - title
 * - heading_wrapper
 * - heading_attributes
 * - heading_display_class
 * - heading_h_class
 * - mustache
 * - page_title: true if the title is the page title.
 */
#}

{#### Set variables ####}
{# Defaults #}
{% set wrapper = wrapper ?: 'div' %}
{% set attributes = attributes ?: create_attribute() %}
{# Blockname #}
{% set blockname = blockname ?: [] %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{# Utilities #}
{% set utilities = utilities ?: [] %}

{#### Build markup #####}
{% if eyebrow|render or mustache|render %}
  <{{ wrapper }}{{ bem('face', modifiers, blockname, utilities) }}>
{% endif %}

  {% if eyebrow|render %}
    {% include '@RADIX_SUBTHEME_MACHINE_NAME/01-atoms/text/eyebrow/eyebrow.twig' with {
      content: eyebrow,
      utilities: eyebrow_utilities,
    } %}
  {% endif %}

  {% if title|render %}
    {% include '@RADIX_SUBTHEME_MACHINE_NAME/01-atoms/text/heading/heading.twig' with {
      content: title,
      wrapper: heading_wrapper,
      attributes: heading_attributes,
      blockname: blockname,
      modifiers: heading_modifiers,
      utilities: heading_utilities,
      page_title: page_title,
    } only %}
  {% endif %}

  {% if mustache|render %}
    {% include '@RADIX_SUBTHEME_MACHINE_NAME/01-atoms/text/mustache/mustache.twig' with {
      content: mustache,
      utilities: mustache_utilities,
    } %}
  {% endif %}

{% if eyebrow|render or mustache|render %}
  </{{ wrapper }}>
{% endif %}
