// Custom styles for the accordion component.
//
// -----------------------------------------------------------------------------


.band--accordion {
  .band__region--band-inner {
    @include py(6);
  }

  .band__region--band-header {
    @include pb(6);
  }

  .band__region--band-footer {
    @include pt(6);
  }
  .band__heading {
    @include section-heading();
    @include mb(0);
  }

  .lead {
    @include mt(2rem);
  }

  .band__lead {
    @include media-breakpoint-up(xl) {
      @include make-col(8);
      @include mx(auto);

      max-width: rem-calc(784px);
    }
    @include mt(2rem);
    @include media-breakpoint-down(sm) {
      @include mt(3);
    }
  }
}
