// Custom style for the billboard component.
//
// MA Component Library: https://messageagency.zeroheight.com/styleguide/s/11824/p/959623-billboard/b/480a9b
// -----------------------------------------------------------------------------

.band--billboard {
  @include mb(0);
  display: grid;
  position: relative;

  .band__region--band-media {
    grid-area: 1 / 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .band__region--band-media picture,
  .band__region--band-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .band__region--band-media-inner,
  .media--type-image,
  .bundle--type-image,
  .bundle--type-billboard {
    height: 100%;
    width: 100%;
  }


  .field--field-pg-media {
    &::before {
      bottom: 0;
      box-shadow: $c-billboard-overlay;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }

  .band__region--band-inner {
    grid-area: 1 / 1;
    position: relative;
    z-index: 2;
    padding: 2rem 0;
    text-align: center;
  }

  .band__region--band-content {
    @include media-breakpoint-up(md) {
      @include p(5rem 2rem);
    }

    @include p(4);

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  .band__heading {
    @include billboard-heading;
    @include mb(3rem);
  }

  .band__lead {
    @include billboard-lead;
  }

  .band__cta {
    @include mt(3rem);

    @include media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: center;
    }

    @include media-breakpoint-down(sm) {
      gap: 6px;
    }

    display: flex;
    flex-direction: column;

    .btn {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    .btn-primary {
      @include media-breakpoint-up(md) {
        @include mr(3);
        @include mb(0);
      }

      margin-bottom: 1rem;
    }

    .cta--primary,
    .cta--secondary {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  &.boxed {
    .bg-dark-opacity-2 {
      @include my(5);
      @include p(6);

      padding-top: 4.5rem !important;
      position: relative;
      z-index: 1;

      &:before {
        bottom: 0;
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 1000px inset;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
      }
    }
  }

  &.no-media {
    background-color: $c-billboard-no-media-bg;

    .band__heading {
      color: $c-billboard-no-media-heading-color;
    }

    .band__lead {
      color: $c-billboard-no-media-lead-color;
    }
  }
}