// Custom styles for the body band component.
//
// -----------------------------------------------------------------------------

.band--body {
  .band__region--band-header {
    @include mb(5);

    padding-bottom: 0 !important;
  }

  .band__heading {
    @include section-heading;
  }

  .band__container {
    @include media-breakpoint-up(md) {
    }
    @include p(bsize(5) 0);
  }

  .field--field-pg-body {
    @include media-breakpoint-up(lg) {
      @include make-col(8);
      @include mx(auto);
    }
    @include make-col(12);

    padding: 0 15px;
  }

  .field--field-pg-files,
  .field--field-pg-links {
    @include media-breakpoint-up(lg) {
      @include make-col(8);
      @include mx(auto);
    }
    @include make-col(12);

    padding: 0 15px;
  }
}
