// Custom styles for the menu grid component.

// MA Component Library: @todo
// -----------------------------------------------------------------------------

.band--menu-grid {
  .band__region--band-header {
    @include mb(5);
  }

  .band__heading {
   @include section-heading;
  }

  .band__container {
    @include media-breakpoint-up(md) {
    }

    @include p(bsize(5) 0);
  }

  .band__region--band-content {
    @include media-breakpoint-down(sm) {
      @include p(0 .75rem);
    }
  }
}

.gridnav-item {
  .card-img-bg::after {
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 1000px inset;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: box-shadow 0.3s ease-in-out;
  }

  a {
    @include hover-focus {
      .card-img-bg::after {
        box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 1000px inset;
      }
    }
  }
}
