// Custom styles for the signpost component.
//
// -----------------------------------------------------------------------------

.band--signpost-grid {
  .band__region--band-inner {
    @include py(6);
  }

  .band__region--band-header {
    @include mb(6);
  }

  .band__heading {
    @include section-heading();
    @include mb(0);
  }

  .band__region--band-footer {
    @include mt(6);
  }

  .band__lead {
    @include media-breakpoint-up(xl) {
      @include make-col(8);
      @include mx(auto);

      max-width: rem-calc(784px);
    }
    @include media-breakpoint-up(lg) {
      @include mt(2rem);
    }
    @include mt(3);
  }
}


.card--signpost {
  a.card-inner {
    @include hover-focus {
      text-decoration: none;
      .card__heading {
        text-decoration: underline;
      }
    }
  }

  .card-inner {
    border: 0;
    color: $black;

    .field--image img {
    }

    // Add a bit of spacing when there is both an icon and an image
    .field--image:not(:first-child) {
      margin-top: 1rem;
    }

    .fontawesome-icon {
      .fas,
      .fab {
        color: $primary;
        font-size: 88px;
      }
    }

    .card__heading {
      @include signpost-heading;
    }

    .field--body {
      @include signpost-body;
      @include mt(2rem);
    }
  }
}
