// Custom styles for the story component.

// MA Component Library: https://messageagency.zeroheight.com/styleguide/s/11824/p/483af2-story/b/564cf2
// -----------------------------------------------------------------------------

.band--story {
  background-color: $c-story-bg;

  .band__region--band-inner {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
    }
  }

  .band__region--band-media {
    @include media-breakpoint-up(lg) {
      max-height: 600px;
      width: 50%;
    }
  }
  
  .field--field-pg-media {
    img {
      @include media-breakpoint-up(lg) {
        min-height: rem-calc(720px);
      }

      @include media-breakpoint-up(xl) {
        min-height: rem-calc(800px);
      }

      object-fit: cover;
    }
  }

  .band__region--band-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-up(lg) {
      width: 50%;
    }
  }

  .band__region--band-content-inner {
    @include media-breakpoint-down(sm) {
      @include p(bsize(5) bsize(4));
    }
    @include media-breakpoint-only(md) {
      @include p(bsize(5) bsize(4));
    }

    @include media-breakpoint-only(lg) {
      @include p(50px);
    }
    @include media-breakpoint-up(xl) {
      @include p(5rem);
    }

    .band__heading {
     @include story-heading;
      @include mb(2rem);
    }

    .band__body {
     @include story-body;
      @include mb(5);
    }

    .band__cta {
      @include media-breakpoint-up(md) {
        @include mt(2rem);
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
      @include media-breakpoint-down(sm) {
        gap: 0;
      }

      display: flex;
      flex-direction: column;
      @include mt(4);

      .btn {
        white-space: nowrap;

        @include mb(4);
        @include media-breakpoint-down(sm) {
          width: 100%;
          white-space: normal;
        }
      }

      .btn-primary {
        @include media-breakpoint-up(md) {
          @include mr(3);
        }
      }

      .cta--primary, .cta--secondary {
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }
  }

  // Custom style for the story component with video.

  &[class*=with-video] {
    background-color: $white;
    @include py(4rem);

    .band__region--band-media {
      @include make-col(12);
      @include media-breakpoint-up(lg) {
        @include make-col(6);
        @include py(4rem);
        @include pl(0);
      }
      @include media-breakpoint-down(sm) {
        background: linear-gradient(
          to right,
          $c-story-gradient-start 0,
          $c-story-gradient-start 75%,
          $c-story-gradient-stop 75%,
          $c-story-gradient-stop 100%
        );
        @include pl(0);
      }

      background: linear-gradient(
        to right,
        $c-story-gradient-start 0,
        $c-story-gradient-start 85%,
        $c-story-gradient-stop 85%,
        $c-story-gradient-stop 100%
      );
      @include py(2rem);
      @include pl(2rem);

      &.order-lg-last {

        @include media-breakpoint-up(lg) {

          @include pr(0);
        }
        @include media-breakpoint-down(sm) {
          background: linear-gradient(
            to left,
            $c-story-gradient-start 0,
            $c-story-gradient-start 75%,
            $c-story-gradient-stop 75%,
            $c-story-gradient-stop 100%
          );
          @include pl(0);
        }

        background: linear-gradient(
          to left,
          $c-story-gradient-start 0,
          $c-story-gradient-start 85%,
          $c-story-gradient-stop 85%,
          $c-story-gradient-stop 100%
        );

        @include pr(2rem);

      }
    }
    .band__region--band-content {
      @include make-col(12);
      @include media-breakpoint-up(lg) {
        @include make-col(6);

        margin-top: 0;
      }

      margin-top: 2rem;

      .bs-region--band-content-inner {
        margin-top: 0;
        margin-left: 0;
        padding: 0;
        text-align: left;
        width: auto;

        &::before {
          content: none;
          position: static;
        }
      }
    }
  }

  &.with-video-left {


    .band__region--band-media {

      @include media-breakpoint-up(lg) {
        @include pl(0);
      }
      @include media-breakpoint-down(sm) {
        background: linear-gradient(
          to right,
          $c-story-gradient-start 0,
          $c-story-gradient-start 75%,
          $c-story-gradient-stop 75%,
          $c-story-gradient-stop 100%
        );
        @include pl(0);
      }

      background: linear-gradient(
        to right,
        $c-story-gradient-start 0,
        $c-story-gradient-start 85%,
        $c-story-gradient-stop 85%,
        $c-story-gradient-stop 100%
      );

      @include pl(2rem);


    }
    .band__region--band-content {
      @include make-col(12);
      @include media-breakpoint-up(lg) {
        @include make-col(6);

        margin-top: 0;
      }

      margin-top: 2rem;

      .bs-region--band-content-inner {
        margin-top: 0;
        margin-left: 0;
        padding: 0;
        text-align: left;
        width: auto;

        &::before {
          content: none;
          position: static;
        }
      }
    }
  }

  &.with-video-right {


    .band__region--band-media {

      @include media-breakpoint-up(lg) {
        @include pr(0);
      }
      @include media-breakpoint-down(sm) {
        background: linear-gradient(
          to left,
          $c-story-gradient-start 0,
          $c-story-gradient-start 75%,
          $c-story-gradient-stop 75%,
          $c-story-gradient-stop 100%
        );
        @include pl(0);
      }

      background: linear-gradient(
        to left,
        $c-story-gradient-start 0,
        $c-story-gradient-start 85%,
        $c-story-gradient-stop 85%,
        $c-story-gradient-stop 100%
      );

      @include pr(2rem);


    }
    .band__region--band-content {

      @include media-breakpoint-up(lg) {

      }



      .bs-region--band-content-inner {
        margin-top: 0;
        margin-left: 0;
        padding: 0;
        text-align: left;
        width: auto;

        &::before {
          content: none;
          position: static;
        }
      }
    }
  }

  // Custom style for the story component without media.

  &.no-media {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
    min-height: auto;
    background-color: $white;

    .band__region--band-content {
      @include make-col(12);

      background-color: $c-story-no-media-bg;
      @include mt(0);
      @include p(1rem !important);

      .band__region--band-content-inner {
        display: grid;
        @include p(0);
        grid-template-columns: 2fr 1fr;

        @include media-breakpoint-down(sm) {
          display: flex;
          flex-direction: column;
          @include p(1rem !important);
        }

        .heading {
          @include media-breakpoint-up(lg) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
          }
        }

        .band__body {
          @include media-breakpoint-up(lg) {
            grid-column: 1 / 1;
            grid-row: 2 / 2;
          }
        }

        .band__cta {
          @include mt(8px !important);
          gap: 0;
          @include media-breakpoint-up(lg) {
            grid-column: 2 / 2;
            grid-row: 2 / 2;

            display: flex;
            flex-direction: column !important;
            justify-content: flex-start !important;
            align-items: flex-end;
          }
          .cta--primary, .cta--secondary {
            @include media-breakpoint-down(sm) {
              max-width: 100%;
              width: 100%;
            }
          }
          .btn {
            @include mr(0);
            max-width: rem-calc(400px);
          }
        }
      }
    }
  }
}
