// Custom styles for the view container component.
//
// -----------------------------------------------------------------------------

.band--view-container {
  .band__region--band-inner {
    @include py(6);
  }

  .band__region--band-header {
    @include mb(6);
  }

  .band__heading {
    @include section-heading();
    @include mb(0);
  }

  .band__region--band-footer {
    @include mt(6);
  }

  .band__lead {
    @include media-breakpoint-up(xl) {
      @include make-col(8);
      @include mx(auto);

      max-width: rem-calc(784px);
    }
    @include media-breakpoint-up(lg) {
      @include mt(2rem);
    }
    @include mt(3);
  }
}
