{#
/**
 * @file
 * Template for a generic band layout, used as a default/fallback.
 */
#}

{#### Set variables ####}
{# Defaults #}
{% set wrapper = wrapper ?: 'div' %}
{% set contained = contained ?: true %}
{% set inner_classes = inner_classes ?: [] %}
{% set inner_classes = inner_classes|merge([
  contained ? 'container',
]) %}
{# Blockname #}
{% set blockname = blockname?: 'band' %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{% set modifiers = modifiers|merge([
  type ? type|replace({'_':'-'}),
]) %}
{# Utilities #}
{% set utilities = utilities ?: [] %}
{% set utilities = utilities|merge([
  paragraph and not paragraph.status ? 'unpublished',
  bg_color ? bg_color,
]) %}

{#### Build markup #####}
{% if no_build != true %}
  <{{ wrapper }}{{ bem(blockname, modifiers, '', utilities) }}>
    <{{ band_inner.wrapper }}{{ band_inner.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-inner', inner_classes|join(' ')]) }}>
      {% if band_inner.content|render %}
        {{ band_inner.content }}
      {% endif %}

      {% block band_header %}
        {% if heading|render or lead|render or band_header.content|render %}
        <{{ band_header.wrapper }}{{ band_header.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-header']) }}>
          {% if heading|render %}
            {% include '@RADIX_SUBTHEME_MACHINE_NAME/01-atoms/text/heading/heading.twig' with {
              content: heading,
              wrapper: heading_wrapper,
              attributes: heading_attributes,
              blockname: blockname,
              modifiers: heading_modifiers,
              utilities: heading_utilities,
            } only %}
          {% endif %}
          {% if lead|render %}
            {% include '@RADIX_SUBTHEME_MACHINE_NAME/01-atoms/text/lead/lead.twig' with {
              content: lead,
              blockname: blockname,
            } only %}
          {% endif %}
          {% if band_header.content|render %}
            {{ band_header.content }}
          {% endif %}
        </{{ band_header.wrapper }}>
        {% endif %}
      {% endblock %}

      {% block band_media %}
        {% if band_media.content|render or band_media_inner.content|render %}
          <{{ band_media.wrapper }}{{ band_media.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-media']) }}>
            {% if band_media.content|render %}
              {{ band_media.content }}
            {% endif %}
            {% if band_media_inner.content|render %}
              <{{ band_media_inner.wrapper }}{{ band_media_inner.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-media-inner']) }}>
                {{ band_media_inner.content }}
              </{{ band_media_inner.wrapper }}>
            {% endif %}
          </{{ band_media.wrapper }}>
        {% endif %}
      {% endblock %}

      {% block band_content %}
        {% if band_content.content|render or band_content_inner.content|render %}
          <{{ band_content.wrapper }}{{ band_content.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-content']) }}>
            {% if band_content.content|render %}
              {{ band_content.content }}
            {% endif %}
            {% if band_content_inner.content|render %}
              <{{ band_content_inner.wrapper }}{{ band_content_inner.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-content-inner']) }}>
                {{ band_content_inner.content }}
              </{{ band_content_inner.wrapper }}>
            {% endif %}
          </{{ band_content.wrapper }}>
        {% endif %}
      {% endblock %}

      {% block band_footer %}
        {% if cta_primary|render or cta_secondary|render or band_footer.content|render %}
          <{{ band_footer.wrapper }}{{ band_footer.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-footer']) }}>
            {% if cta_primary|render or cta_secondary|render %}
              {% include '@RADIX_SUBTHEME_MACHINE_NAME/02-molecules/cta/cta.twig' with {
                blockname: blockname,
                cta_primary: cta_primary,
                cta_secondary: cta_secondary,
                utilities: cta_classes ? cta_classes,
              } only %}
            {% endif %}
            {% if band_footer.content|render %}
              {{ band_footer.content }}
            {% endif %}
          </{{ band_footer.wrapper }}>
        {% endif %}
      {% endblock %}
    </{{ band_inner.wrapper }}>
  </{{ wrapper }}>
{% endif %}
