{#
/**
 * @file
 * Template for a billboard component.
 *
 * Variables:
 * - page_title: true if the title should act as the page title.
 */
#}

{#### Set variables ####}
{# Defaults #}
{% set wrapper = wrapper ?: 'div' %}
{% set boxed = boxed ?: attributes.hasClass('boxed') %}
{% set contained = contained ?: true %}
{% set inner_classes = inner_classes ?: [] %}
{% set inner_classes = inner_classes|merge([
  contained ? 'container',
  has_media ? 'card-img-overlay',
  alignment ? 'text-' ~ alignment,
]) %}
{# TODO: 'opacity' is not a native bootstrap utility, but i'm imagining it adding a 2-digit value to the hex value. #}
{# TODO: so 'bg-dark-opacity-2' could be #343a4080, adding 80 on the end to give the color an opacity of 0.5 #}
{% set content_classes = [
  boxed ? boxed_color ?: 'bg-dark-opacity-2',
] %}
{# Blockname #}
{% set blockname = blockname?: 'band' %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{% set modifiers = modifiers|merge([
  'billboard',
]) %}
{# Utilities #}
{% set utilities = utilities ?: [] %}
{% set utilities = utilities|merge([
  paragraph and not paragraph.status ? 'unpublished',
  bg_color ? bg_color,
  boxed ? 'boxed',
  has_media ? 'p-0',
  has_media ? 'text-light',
  has_media ? 'with-' ~ has_media : 'no-media',
]) %}

{#### Build markup #####}
<{{ wrapper }}{{ bem(blockname, modifiers, '', utilities) }}>

  {% block band_media %}
    {% if band_media.content|render or band_media_inner.content|render %}
      <{{ band_media.wrapper }}{{ band_media.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-media']) }}>
        {% if band_media.content|render %}
          {{ band_media.content }}
        {% endif %}
        {% if band_media_inner.content|render %}
          <{{ band_media_inner.wrapper }}{{ band_media_inner.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-media-inner']) }}>
            {{ band_media_inner.content }}
          </{{ band_media.wrapper }}>
        {% endif %}
      </{{ band_media.wrapper }}>
    {% endif %}
  {% endblock %}

  {% block band_inner %}
    <{{ band_inner.wrapper }}{{ band_inner.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-inner', inner_classes|join(' ')]) }}>
      <{{ band_content.wrapper }}{{ band_content.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-content', content_classes|join(' ')]) }}>
        {# TODO: Place heading, lead, ctas in content region and look for them there. #}
        {% if heading|render %}
          {% include '@RADIX_SUBTHEME_MACHINE_NAME/01-atoms/text/heading/heading.twig' with {
            content: heading,
            wrapper: heading_wrapper,
            attributes: heading_attributes,
            blockname: blockname,
            modifiers: heading_modifiers,
            utilities: heading_utilities,
            page_title: page_title,
          } only %}
        {% endif %}
        {% if lead|render %}
          {% include '@RADIX_SUBTHEME_MACHINE_NAME/01-atoms/text/lead/lead.twig' with {
            content: lead,
            blockname: blockname,
          } only %}
        {% endif %}
        {% if cta_primary|render or cta_secondary|render %}
          {% include '@RADIX_SUBTHEME_MACHINE_NAME/02-molecules/cta/cta.twig' with {
            blockname: blockname,
            cta_primary: cta_primary,
            cta_secondary: cta_secondary,
            utilities: cta_classes ? cta_classes,
          } only %}
        {% endif %}
        {% if band_content_inner.content|render %}
          <{{ band_content_inner.wrapper }}{{ band_content_inner.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-content-inner']) }}>
            {{ band_content_inner.content }}
          </{{ band_content_inner.wrapper }}>
        {% endif %}
      </{{ band_content.wrapper }}>
    </{{ band_inner.wrapper }}>
  {% endblock %}

</{{ wrapper }}>
