{#
/**
 * @file
 * Template for a content grid component.
 *
 */
#}

{% extends '@RADIX_SUBTHEME_MACHINE_NAME/03-organisms/band/band.twig' %}

{% block band_content %}
  {% if content_items or band_content.content|render or band_content_inner.content|render %}
    <{{ band_content.wrapper }}{{ band_content.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-content']) }}>
      {% if band_content.content|render %}
        {{ band_content.content }}
      {% endif %}
      {% if content_items or band_content_inner.content|render %}
        <{{ band_content_inner.wrapper }}{{ band_content_inner.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-content-inner']) }}>
          {% if content_items %}
            {% include '@RADIX_SUBTHEME_MACHINE_NAME/03-organisms/card/card-container.twig' with {
              columns: columns,
              cards: content_items,
            } only %}
          {% endif %}
          {% if band_content_inner.content|render %}
            {{ band_content_inner.content }}
          {% endif %}
        </{{ band_content_inner.wrapper }}>
      {% endif %}
    </{{ band_content.wrapper }}>
  {% endif %}
{% endblock %}
