{#
/**
 * @file
 * Template for a story component.
 *
 */
#}

{#### Set variables ####}
{# Defaults #}
{% set wrapper = wrapper ?: 'div' %}
{% set contained = contained ?: false %}
{% if has_media == false %}
  {% set contained = true %}
{% endif %}
{% set inner_classes = inner_classes ?: [] %}
{% set inner_classes = inner_classes|merge([
  contained ? 'container',
  bg_color ? bg_color,
  has_media ? 'row',
  has_media ? 'no-gutters',
]) %}
{# Blockname #}
{% set blockname = blockname?: 'band' %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{% set modifiers = modifiers|merge([
  'story',
]) %}
{# Utilities #}
{% set utilities = utilities ?: [] %}
{% set utilities = utilities|merge([
  has_media ? 'with-' ~ has_media ~ '-' ~ image_position : 'no-media',
  paragraph and not paragraph.status ? 'unpublished',
]) %}

{#### Build markup #####}
<{{ wrapper }}{{ bem(blockname, modifiers, '', utilities) }}>
  <{{ band_inner.wrapper }}{{ band_inner.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-inner', inner_classes|join(' ')]) }}>
    {% if band_inner.content|render %}
      {{ band_inner.content }}
    {% endif %}

    {% block band_media %}
      {% if band_media.content|render or band_media_inner.content|render %}
        <{{ band_media.wrapper }}{{ band_media.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-media']) }}>
          {% if band_media.content|render %}
            {{ band_media.content }}
          {% endif %}
          {% if band_media_inner.content|render %}
            <{{ band_media_inner.wrapper }}{{ band_media_inner.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-media-inner']) }}>
              {{ band_media_inner.content }}
            </{{ band_media.wrapper }}>
          {% endif %}
        </{{ band_media.wrapper }}>
      {% endif %}
    {% endblock %}

    {% block band_content %}
      <{{ band_content.wrapper }}{{ band_content.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-content']) }}>
        {% if band_content.content|render %}
          {{ band_content.content }}
        {% endif %}
        <{{ band_content_inner.wrapper }}{{ band_content_inner.attributes.addClass([blockname ~ '__region', blockname ~ '__region--band-content-inner']) }}>
          {# TODO: Place heading, body, ctas in content region and look for them there. #}
          {% if heading|render %}
            {% include '@RADIX_SUBTHEME_MACHINE_NAME/01-atoms/text/heading/heading.twig' with {
              content: heading,
              wrapper: heading_wrapper,
              attributes: heading_attributes,
              blockname: blockname,
              modifiers: heading_modifiers,
              utilities: heading_utilities,
            } only %}
          {% endif %}
          {% if body|render %}
            <div {{ bem('body', '', blockname) }}>
              {{ body }}
            </div>
          {% endif %}
          {% if cta_primary|render or cta_secondary|render %}
            {% include '@RADIX_SUBTHEME_MACHINE_NAME/02-molecules/cta/cta.twig' with {
              blockname: blockname,
              cta_primary: cta_primary,
              cta_secondary: cta_secondary,
              utilities: cta_classes ? cta_classes,
            } only %}
          {% endif %}
          {% if band_content_inner.content|render %}
            {{ band_content_inner.content }}
          {% endif %}
        </{{ band_content_inner.wrapper }}>
      </{{ band_content.wrapper }}>
    {% endblock %}
  </{{ band_inner.wrapper }}>
</{{ wrapper }}>
