// Custom styles for the image component.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: https://getbootstrap.com/docs/4.5/content/images/
// -----------------------------------------------------------------------------

img,
picture {
  @include img-fluid;
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }

  &.align-left {
    @include pr(3);
    @include pb(3);
  }

  &.align-right {
    @include pl(3);
    @include pb(3);
  }
}

figure {
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }
  @include m(0);

  &.align-left {
    @include pr(3);
    @include pb(3);
  }

  &.align-right {
    @include pl(3);
    @include pb(3);
  }
}

figcaption {
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }
}
