// Custom styles for the page type.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: @todo
// -----------------------------------------------------------------------------

.node--type-page {
  &.node--view-mode-full {
    @include my(4rem);

    .page-title {
      font-weight: 600;
      margin-bottom: 2rem;
    }

    .field--field-media.bundle--type-page.view-mode--full {
      @include media-breakpoint-down(sm) {
        @include full-bleed;
      }
      @include mb(5);
    }
  }
  &.node--view-mode-teaser {
  }
  &.node--view-mode-featured {
  }
}

.field--field-related-content.bundle--type-page {
  margin-bottom: 6rem;
  .field__label {
    @include section-heading;

    margin-bottom: 3rem;
    text-align: center;
  }

  .field__items {
    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    display: grid;

    column-gap: 30px;
    grid-template-columns: 1fr;
    row-gap: $grid-gutter-width;

    .field__item .card {
      height: 100%;
    }
  }
}

.field--field-image.bundle--type-page.view-mode--full {
  margin-bottom: 3rem;
}
