{#
/**
 * @file
 * Template for a lead component.
 */
#}

{% if content|render %}
  {#### Set variables ####}
  {# Defaults #}
  {% set wrapper = wrapper ?: 'div' %}
  {% set attributes = attributes ?: create_attribute() %}
  {# Blockname #}
  {% set blockname = blockname ?: [] %}
  {# Modifiers #}
  {% set modifiers = modifiers ?: [] %}
  {# Utilities #}
  {% set utilities = utilities ?: [] %}
  {% set utilities = utilities|merge([
    'lead',
  ]) %}

  {#### Build markup #####}
  <{{ wrapper }}{{ bem('lead', modifiers, blockname, utilities) }}>{{ content }}</{{ wrapper }}>
{% endif %}
