.block--mainnavigation {
  @include media-breakpoint-up(lg) {
    background-color: $primary;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }

  ul {
    > .nav-item {
      display: flex;

      &:focus-within:not(:last-child) {
        background-color: #edf5fe;
        color: $blue;

        .dropdown-menu {
          display: block;
        }
      }

      > .nav-link {
        @include main-menu-item-text;
        color: $white;
        @include hover-focus {
          background-color: lighten($primary, 5%);
          color: $white;
        }
        @include media-breakpoint-only(xl) {
          @include p(22px 64px);
        }
        @include p(22px 36px);

        &:focus-within {
          background-color: #358dd4;
          color: $white;
        }

        &.is-active {
          background-color: #358dd4;


        }
      }

      > .nav-btn {
        @include hover-focus {
          background-color: #358dd4;
          color: $black !important;
        }
        @include ml(10px);
        @include p(10px 30px);

        align-self: center;
        background-color: #75bee9;
        color: $black !important;
      }
    }
    > .nav-item.active > .nav-link {
      color: $white !important;
    }
  }

  .nav-item.show > .nav-link {
    background-color: #358dd4;
    color: $white;
  }

  .dropdown-toggle {
    &:after {
      content: none;
    }
  }

  .dropdown-menu {
    background-color: $white;
    border: 1px solid #fafafa;
    border-radius: 2px;
    box-shadow: 0 8px 10px 0 rgba(0, 35, 64, 0.15);
    left: -0.5rem;
    margin-top: -0.5rem;
    right: -0.5rem;

    > .dropdown-item {
      @include main-menu-item-text;
      @include hover-focus {
        background-color: #efefef;


      }
      @include p(22px 42px);

      color: $black;
      letter-spacing: 1.23px;
      white-space: normal;

      &.active {
        background-color: #efefef;

      }
    }
  }
}

.block--mainnavigation-sm {
  @include media-breakpoint-down(sm) {
    display: block;
  }

  display: none;

  ul {
    display: flex;
    flex-direction: column;

    > .nav-item {
      > .nav-link {
        @include p(3);
        @include pl(0);
        @include text-typography(
        $size: 16px,
        $weight: 800,
        $ls: 1.23px,
        $lh: 1.25,
        $tt: uppercase
        );

        color: $black !important;

        &:after {
          content: none;
        }
      }

      > .nav-btn {
        @include hover-focus {
          background-color: #358dd4;
          color: $black;
        }
        @include my(3);
        @include p(bsize(3) bsize(5));

        align-self: center;
        background-color: #75bee9;
        color: $black;
        text-align: center;
      }
    }

    > .dropdown {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .dropdown-menu {
      background-color: $white;
      border: 0;
      box-shadow: none;
      width: 100%;

      > .dropdown-item {
        @include main-menu-item-text;
        @include hover-focus {
          background-color: $white;
        }
        @include p(22px 42px);

        color: $black;
        letter-spacing: 1.23px;
        white-space: normal;

        &.active {
          background-color: $white;
        }
      }
    }
  }
}

.block--mainnavigation-md {
  @include media-breakpoint-only(md) {
    display: block;
  }

  display: none;

  ul {
    display: flex;
    flex-direction: column;

    > .nav-item {
      > .nav-link {
        @include p(3);
        @include pl(0);
        @include text-typography(
        $size: 16px,
        $weight: 800,
        $ls: 1.23px,
        $lh: 1.25,
        $tt: uppercase
        );

        color: $black;

        &:after {
          content: none;
        }
      }

      > .nav-btn {
        @include hover-focus {
          background-color: #358dd4;
          color: $black;
        }
        @include my(1);
        @include p(16px 30px);

        align-self: center;
        background-color: #75bee9;
        color: $black;
        text-align: center;
      }
    }

    > .dropdown {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .dropdown-menu {
      background-color: $white;
      border: 0;
      box-shadow: none;
      flex-grow: 1;

      &.show {
        position: relative !important;
        transform: none !important;
      }

      > .dropdown-item {
        @include main-menu-item-text;
        @include hover-focus {
          background-color: $white;
        }
        @include p(22px 0 22px 42px);

        color: $black;
        letter-spacing: 1.23px;
        white-space: normal;
      }
    }
  }
}
