// Custom styles for the page footer layout.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: @todo
// -----------------------------------------------------------------------------

.page__footer {
  @include p(bsize(3) 0);

  background-color: $c-footer-background;
  color: $c-footer-color;

  a {
    @include hover-focus {
      color: $c-footer-color;
    }

    color: $c-footer-color;
  }
}

.footer {
  gap: $grid-gutter-width;
}

.footer-bottom {
  @include mt(1.5rem);
}

.block--footerlogo {
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }

  img {
    @include mx(auto);
    @include media-breakpoint-up(md) {
      @include mx(0);
    }

    display: inline-block;
    height: clamp(5rem, 2.799rem + 9.39vw, 11.25rem);
  }
}

.block--footernavigation {
  @include media-breakpoint-up(md) {
    @include ml(auto);
    @include mb(4);

    justify-content: flex-end;
  }
  @include media-breakpoint-up(lg) {
  }

  display: flex;
  flex-grow: 1;
  justify-content: center;

  .nav {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
    .nav-item {
      .nav-link {
        @include text-typography(
        $size: 16px,
        $weight: 800,
        $ls: 1.14px,
        $lh: 1.25,
        $tt: uppercase
        );
        @include media-breakpoint-down(sm) {
          @include mr(0);
          @include mb(3);
        }
        @include media-breakpoint-up(md) {
        }
        @include media-breakpoint-up(lg) {
        }
        @include hover-focus {
          color: $c-footer-link-color;
          text-decoration: underline;
        }
        @include mr(2rem);

        color: $c-footer-link-color;
        text-align: center;
        transition: all 0.3s ease-in-out;
      }

      &:last-child .nav-link {
        @include media-breakpoint-up(md) {
          @include mr(0);
          @include pr(0);
        }
      }
    }
  }
}

.block--footerctas {
  @include media-breakpoint-up(md) {
    @include mb(4);

    justify-content: flex-end;
  }
  @include media-breakpoint-up(lg) {
  }

  display: flex;
  flex-grow: 1;
  justify-content: center;


  .footer-ctas {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      justify-content: center;
    }
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
    @include media-breakpoint-up(lg) {
    }

    display: flex;

    .btn {
      @include text-typography(
      $size: 16px,
      $weight: 800,
      $ls: 1.14px,
      $lh: 1.25,
      $tt: uppercase
      );
      @include media-breakpoint-down(sm) {
        @include mr(0);
        @include mb(3);
      }
      @include media-breakpoint-up(md) {
      }
      @include media-breakpoint-up(lg) {
      }
      @include hover-focus {
        background-color: $black;
        color: $white;
      }
      @include mr(2rem);
      @include p(10px 22px);

      background-color: $white;
      border: 2px solid $black;
      color: $black;
      text-align: center;
      transition: all 0.3s ease-in-out;

      &:last-child {
        @include media-breakpoint-up(md) {
          @include mr(0);
        }
      }
    }
  }
}

.block--socialmedia {
  @include media-breakpoint-up(md) {
    @include ml(auto);
  }
  @include media-breakpoint-up(lg) {
  }

  ul {
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
    @include media-breakpoint-up(lg) {
    }
    @include mb(0);
    @include pl(0);

    display: flex;
    justify-content: center;
    list-style-type: none;

    > li {
      @include ml(4);

      &:first-child {
        @include ml(0);
      }
      > a {
        @include hover-focus {
          text-decoration: none;
        }

        font-family: $font-awesome-brands;
        font-size: 1.3rem;
        font-weight: 400;

        span {
          @include sr-only;
        }

        &.twitter {
          &::before {
            content: "\e61b";
          }
        }

        &.facebook {
          &::before {
            content: "\f39e";
          }
        }

        &.instagram {
          &::before {
            content: "\f16d";
          }
        }

        &.threads {
          &::before {
            content: "\e618";
          }
        }

        &.linkedin {
          &::before {
            content: "\f0e1";
          }
        }

        &.youtube {
          &::before {
            content: "\f167";
          }
        }

        &.vimeo {
          &::before {
            content: "\f40a";
          }
        }

        &.tiktok {
          &::before {
            content: "\e07b";
          }
        }

        &.discord {
          &::before {
            content: "\f392";
          }
        }

        &.slack {
          &::before {
            content: "\f198";
          }
        }

        &.whatsapp {
          &::before {
            content: "\f232";
          }
        }

        &.flipboard {
          &::before {
            content: "\f44d";
          }
        }
      }
    }
  }
}

.block--copyrightandcredit {
  @include text-typography($size: 14px);
  @include pt(3);
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }

  border-top: 1px solid $white;
  flex-grow: 1;
}
