{#
/**
 * @file
 * Theme implementation for an search results list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The custom list style.
 *
 * @see template_preprocess_item_list()
 *
 * @ingroup themeable
 */
#}

{#### Set variables ####}
{# Defaults #}
{% set list_classes = list_classes ?: [
    'search--results',
    'col-lg-8'
] %}
{% set item_classes = item_classes ?: [
    'search--item',
] %}

{% if items or empty %}
  <div class='row'>
    <div{{ create_attribute({'class': list_classes }) }}>
      {% if items %}
        {% for item in items %}
          <div{{ item.attributes.addClass(item_classes) }}>{{ item.value }}</div>
        {% endfor %}
      {% else %}
        {{ empty }}
      {% endif %}
    </div>
  </div>
{% endif %}
