// Custom styles for the search bar component.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: @todo
// -----------------------------------------------------------------------------


.search-toggler {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.block--searchform {
  @include media-breakpoint-down(md) {
    display: none;
  }

  form {
    border-bottom: 2px solid transparent;

    &.focused {
      border-color: $brand-primary;

      .form-search {
        border-bottom-left-radius: 0;;
      }

      .btn-primary {
        border-bottom-right-radius: 0;
      }
    }
  }

  .form-search {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;

    &:focus {
      border-color: $input-border-color;
      box-shadow: none;
    }
  }

  .form-actions {
    display: block !important;
    .form-submit {
      @include px(3);

      background: transparent;
      border-color: $input-border-color;
      border-left: 0;
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
      border-style: solid;
      border-width: 1px;
      color: #6f6f6f;
      font-weight: 900;
      height: 38px;
      min-width: auto;
      padding-bottom: $input-padding-y;
      padding-top: $input-padding-y;

      .fa-search {
        &:before {
          font-size: rem-calc(18px);
        }
      }

      &:active {
        background: #358dd4;
        color: $white !important;
      }
    }
  }
}

.block--searchform-sm {
  @include media-breakpoint-down(sm) {
    display: block;
  }

  display: none;

  .form-inline {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .form-group {
    @include mb(0);

    flex-grow: 1;
  }

  .form-search {
    border: 0;
    width: 100%;
  }

  .form-actions {
    align-content: center;
    display: flex !important;
    flex-direction: row;

    .form-submit {
      @include pr(3);
      @include pl(1);

      background: transparent;
      border: 0;
      color: #6f6f6f;
      font-family: $font-awesome-solid;
      font-size: 1.2rem;
      font-weight: 900;
      min-width: auto;
      padding-bottom: $input-padding-y;
      padding-top: $input-padding-y;

      &:active {
        background: #358dd4;
        color: $white !important;
      }
    }

    .search-close {
      @include pr(3);
      @include pl(1);

      background: $white;
      border: 0;
      color: #6f6f6f;
      padding-bottom: $input-padding-y;
      padding-top: $input-padding-y;
      &:before {
        @include material-icons;

        content: "close";
      }
    }
  }
}

.block--searchform-md {
  @include media-breakpoint-only(md) {
    display: block;
  }

  display: none;

  .form-inline {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .form-group {
    flex-grow: 1;
    margin-bottom: 0;
  }

  .form-search {
    border: 0;
    width: 100%;
  }

  .form-actions {
    align-content: center;
    display: flex !important;
    flex-direction: row;
    .form-submit {
      @include px(3);

      background: transparent;
      border: 0;
      color: #6f6f6f;
      font-family: $font-awesome-solid;
      font-size: 1.2rem;
      font-weight: 900;
      height: 39px;
      min-width: auto;
      padding-bottom: $input-padding-y;
      padding-top: $input-padding-y;

      &:active {
        background: #358dd4;
        color: $white !important;
      }
    }

    .search-close {
      @include pl(1);
      @include pr(3);

      background: $white;
      border: 0;
      color: #6f6f6f;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 16px;
      padding-bottom: $input-padding-y;
      padding-top: $input-padding-y;
      text-transform: uppercase;
    }
  }
}
