// Custom styles for the resource type.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: @todo
// -----------------------------------------------------------------------------

.node--type-resource {
  &.node--view-mode-full {

    @include mt(4rem);

    .page-title {
      @include mb(2rem);
    }

    .layout__face {
      .page-title {
        @include mb(0);
      }
    }

    > .layout__row--top {
      @include mb(5);
    }

    .field--field-media.bundle--type-resource.view-mode--full {
      @include media-breakpoint-down(sm) {
        @include full-bleed;
      }
      @include mb(5);
    }
  }
  &.node--view-mode-teaser {
  }
  &.node--view-mode-featured {
  }
}
