{#
/**
 * @file
 * Template for the branding block.
 */
#}

{% include '@radix/navbar/navbar-brand.twig' with {
  text: site_name,
  image: site_logo,
  width: 'auto',
  height: 80,
  path: path('<front>'),
  alt: elements.content.site_name['#markup'] ~ ' home' ,
} %}
