{#
/**
 * @file
 * Template for a Block component.
 */
#}

{#### Set variables ####}
{# Defaults #}
{% set wrapper = wrapper ?: 'div' %}
{% set title_wrapper = title_wrapper ?: 'div' %}
{# Blockname #}
{% set blockname = blockname?: 'block' %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{% set modifiers = modifiers|merge([
  bundle ? bundle|clean_class,
  id ? id|replace({"_": "-"})|clean_class,
]) %}
{# Utilities #}
{% set utilities = utilities ?: [] %}
{% set utilities = utilities|merge([
  'block',
]) %}

<{{ wrapper }}{{ bem(blockname, modifiers, '', utilities) }}>

{{ title_prefix }}
  {% if label %}
    {% block label %}
      <{{ title_wrapper }}{{ title_attributes.addClass('block-label') }}>{{ label }}</{{ title_wrapper }}>
    {% endblock %}
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}

</{{ wrapper }}>
