{#
/**
 * @file
 * Card container template for a field.
 * TODO: We should use a custom field formatter instead.
 *
 */
#}

{#### Set variables ####}
{# Defaults #}
{% set wrapper = wrapper ?: 'div' %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{% set modifiers = modifiers|merge([
  field_name_clean|clean_class,
]) %}
{# Blockname #}
{% set blockname = blockname ?: [] %}
{# Utilities #}
{% set utilities = utilities ?: [] %}
{# Utilities #}
{% set utilities = utilities|merge([
  'bundle--type-' ~ bundle|clean_class,
  label_display == 'inline' ? 'd-flex',
]) %}
{% set title_wrapper = title_wrapper ?: 'div' %}
{% set title_classes = title_classes ?: [] %}
{% set title_classes = title_classes|merge([
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
]) %}

{#### Build markup #####}
{% if items %}
  {% if label_hidden != true %}
    <{{ title_wrapper }}{{ title_attributes.addClass(title_classes) }}>
      {{ label }}
    </{{ title_wrapper }}>
  {% endif %}
  {% set cards = [] %}
  {% for item in items %}
    {% set cards = cards|merge([item.content]) %}
  {% endfor %}
  {% include '@RADIX_SUBTHEME_MACHINE_NAME/03-organisms/card/card-container.twig' %}
{% endif %}
