{#
/**
 * @file
 * Default template for a field.
 *
 */
#}

{#### Set variables ####}
{# Defaults #}
{% set wrapper = wrapper ?: 'div' %}
{% set title_wrapper = title_wrapper ?: 'div' %}
{% set title_classes = title_classes ?: [] %}
{% set title_classes = title_classes|merge([
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
]) %}
{% set view_mode = element['#view_mode'] %}
{% if view_mode == '_custom' and element['#ds_view_mode'] is not empty %}
  {% set view_mode = element['#ds_view_mode'] %} {# Account for DisplaySuite fields #}
{% endif %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{% set modifiers = modifiers|merge([
  field_name_clean|clean_class,
]) %}
{# Blockname #}
{% set blockname = blockname ?: [] %}
{# Utilities #}
{% set utilities = utilities ?: [] %}
{# Utilities #}
{% set utilities = utilities|merge([
  'bundle--type-' ~ bundle|clean_class,
  'view-mode--' ~ view_mode|clean_class,
  label_display == 'inline' ? 'd-flex',
]) %}

{#### Build markup #####}
{% if label_hidden %}
  {% if multiple %}
    <{{ wrapper }}{{ bem('field', modifiers, blockname, utilities) }}>
      {% for item in items %}
        <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
      {% endfor %}
    </{{ wrapper }}>
  {% else %}
    {% for item in items %}
      <{{ wrapper }}{{ bem('field', modifiers, blockname, utilities) }}>
        {{ item.content }}
      </{{ wrapper }}>
    {% endfor %}
  {% endif %}
{% else %}
  <{{ wrapper }}{{ bem('field', modifiers, blockname, utilities) }}>
    <{{ title_wrapper }}{{ title_attributes.addClass(title_classes) }}>
      {{ label }}{% if label_display == 'inline' %}<span class="field__label__suffix mr-1">:</span>{% endif %}
    </{{ title_wrapper }}>
    {% if multiple %}
      <div class="field__items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </{{ wrapper }}>
{% endif %}
