label.form-required {
  &:after {
    content: "*";
    display: inline-block;
  }
}


// Addresses some issues with the CKEditor toolbar
.ck-editor__editable {
  min-height: 240px
}

.ck.ck-toolbar.ck-toolbar_grouping > .ck-toolbar__items {
  flex-wrap: wrap !important;
}
