// Custom styles for the cta component.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: @todo
// -----------------------------------------------------------------------------


.band__cta {
  gap: rem-calc(16px);
  .cta--primary {
  }

  .cta--secondary {

  }
}
