{#
/**
 * @file
 * Template for a Call To Action component.
 *
 * Available variables:
 * - cta_primary
 * - cta_secondary
 */
#}

{#### Set variables ####}
{# Defaults #}
{% set wrapper = wrapper ?: 'div' %}
{% set cta_primary_wrapper = cta_primary_wrapper ?: 'a' %}
{% set cta_primary_type = cta_primary_type ?: 'primary' %}
{% set cta_primary_outline = cta_primary_outline ?: false %}
{% set cta_primary_outline_type = cta_primary_type == 'dark' ? 'light': 'dark' %}
{% set cta_secondary_wrapper = cta_secondary_wrapper ?: 'a' %}
{% set cta_secondary_type = cta_secondary_type ?: 'light' %}
{% set cta_secondary_outline = cta_secondary_outline ?: true %}
{% set cta_secondary_outline_type = cta_secondary_type == 'dark' ? 'light': 'dark' %}
{# Blockname #}
{% set blockname = blockname?: [] %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{# Utilities #}
{% set utilities = utilities ?: [] %}

{#### Build markup #####}
{% if cta_primary|render or cta_secondary|render %}
  <{{ wrapper }}{{ bem('cta', modifiers, blockname, utilities) }}>
{% endif %}

{% if cta_primary|render %}
  <div class="cta--primary">
    {% include '@RADIX_SUBTHEME_MACHINE_NAME/01-atoms/button/button.twig' with {
      wrapper: cta_primary_wrapper,
      type: cta_primary_type,
      outline: cta_primary_outline,
      outline_type: cta_primary_outline_type,
      content: cta_primary,
      utilities: ['w-100', 'w-md-auto'],
    } only %}
  </div>
{% endif %}

{% if cta_secondary|render %}
  <div class="cta--secondary">
    {% include '@RADIX_SUBTHEME_MACHINE_NAME/01-atoms/button/button.twig' with {
      wrapper: cta_secondary_wrapper,
      type: cta_secondary_type,
      outline: cta_secondary_outline,
      outline_type: cta_secondary_outline_type,
      content: cta_secondary,
      utilities: ['w-100', 'w-md-auto'],
    } only %}
  </div>
{% endif %}

{% if cta_primary|render or cta_secondary|render %}
  </{{ wrapper }}>
{% endif %}
