// Custom styles for the landing page type.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: @todo
// -----------------------------------------------------------------------------

.node--type-landing-page {
  &.node--view-mode-full {

    .layout__row--top {
      flex-direction: column;
    }

    .layout__region--top-first.full-bleed~.layout__region--title-region {
      @include media-breakpoint-up(md) {
        @include mt(-6rem);
        @include mb(2rem);
        @include pt(3.5rem);
      }

      @include pt(2rem);
      @include pb(.5rem);
      @include px(1rem);
      @include mt(-4rem);
      @include mb(2rem);

      background-color: $white;
      position: relative;
      width: auto;
    }

    .layout__region--title-region {
      @include media-breakpoint-up(md) {
        @include mb(2rem);
        @include pt(3.5rem);
      }

      @include pt(2rem);
      background-color: $white;
      position: relative;
      width: auto;
    }

    .layout__region--top-second {
      @include pb(4rem);
      background-color: $white;
    }

    .field--body.bundle--type-landing-page {
      @include lead-copy;
      @include make-col(10);
      @include make-col-offset(1);
    }

    .field--field-image.bundle--landing-page {
      @include media-breakpoint-up(lg) {
        @include mt(-275px);
      }

      @include mt(-100px);

      filter: brightness(0.6);

      img {
        @include media-breakpoint-down(md) {
          max-width: 100%;
          overflow: hidden;
        }

        @include media-breakpoint-up(xl) {
          width: 100vw;
        }
      }
    }
  }

  &.node--view-mode-teaser {}

  &.node--view-mode-featured {}
}

.field--field-image.bundle--type-landing-page.view-mode--teaser {
  @include media-breakpoint-down(sm) {
    @include mt(2rem);
  }
}