// Custom styles for the news post type.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: @todo
// -----------------------------------------------------------------------------

.node--type-news-post {
  &.node--view-mode-full {
    @include my(4rem);
    .layout__face {
      @include mb(2rem);
    }

    .page-title {
      @include mb(2rem);
    }

    .layout__face {
      .page-title {
        @include mb(0);
      }
    }

    .field--field-media.bundle--type-news-post.view-mode--full {
      @include media-breakpoint-down(sm) {
        @include full-bleed;
      }
      @include mb(5);
    }

    > .layout__section--bottom {
      @include mt(5);
    }


    .layout__region--sidebar-second {
      .field--metadata {
        @include p(4);

        border: $border-dark;
        border-top: $sidebar-border-highlight;

        .field__label {
          @include text-typography($family: $headings-font-family, $size: 22px, $weight: 600, $lh: 1.5);
          @include mb(2rem);
          @include pb(2);

          border-bottom: $border-dark;
          color: $black;
        }

        .field__items {
          > .field__item {
            @include mb(2rem);

            &:last-child {
              @include mb(0);
            }

            > a {
              @include text-typography($size: 20px, $weight: 600, $ls: .71px, $lh: 1.1);

              color: $black;
            }
          }
        }
      }
    }
  }
  &.node--view-mode-teaser {
  }
  &.node--view-mode-featured {
  }
}




.field--field-image.bundle--type-news-post.view-mode--teaser {
  @include media-breakpoint-down(sm) {
    @include mt(2rem);
  }
}
