// Custom styles for the button component.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: https://zeroheight.com/0a635880c/p/26a36f-button
// Bootstrap Doc: https://getbootstrap.com/docs/4.5/components/buttons/
// -----------------------------------------------------------------------------

button {
  &:focus {
    outline: none;
  }
}

.btn {
  @include media-breakpoint-down(sm) {
    @include p(19px 36px);
  }

  letter-spacing: 1.23px;
  min-width: 220px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  &.btn-primary {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-secondary {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-success {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-danger {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-warning {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-info {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-light {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-dark {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-link {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-outline-primary {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-outline-secondary {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-outline-success {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-outline-danger {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-outline-warning {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-outline-info {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-outline-light {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-outline-dark {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }
}
