{#
/**
 * @file
 * Template for a button component.
 *
 * Available variables:
 * - type: primary | secondary | success | danger | warning | info | light | dark
 * - outline: true | false
 * - wrapper: button, a, input
 * - attributes: Attributes array.
 * - content: That which is to be buttonized.
 */
#}

{% if content|render %}
  {# TODO: test this. #}
  {#### Set variables ####}
  {# Defaults #}
  {% set wrapper = wrapper ?: 'button' %}
  {% set attributes = attributes ?: create_attribute() %}
  {% set type = type ?: 'primary' %}
  {% set outline = outline ?: false %}
  {% set outline_type = outline_type ?: 'dark' %}
  {# Blockname #}
  {% set blockname = blockname ?: [] %}
  {# Modifiers #}
  {% set modifiers = modifiers ?: [] %}
  {# Utilities #}
  {% set utilities = utilities ?: [] %}
  {% set utilities = utilities|merge([
    'button',
    'btn',
    type ? 'btn-' ~ type,
    outline ? 'btn-outline-' ~ outline_type,
  ]) %}

  {#### Build markup #####}
  {% if wrapper == 'input' %}
    <{{ wrapper }}{{ bem('button', modifiers, blockname, utilities) }} />
  {% elseif wrapper == 'a' %}
    {# Add the button classes directly to the anchor tag. #}
    {# TODO: This is feeling pretty knotty. #}
    {# TODO: Role not working? #}
    {# TODO: render wrapper...? #}
    {{ content|merge({'#options' : {
      'attributes' : {
        'class' : utilities
      },
      'role' : 'button',
    }}) }}
  {% else %}
    <{{ wrapper }}{{ bem('button', modifiers, blockname, utilities) }}>{{ content }}</{{ wrapper }}>
  {% endif %}
{% endif %}
