.field--dynamic-block-fieldnode-subnav.bundle--type-page {
  @include p(4);

  border: $border-dark;
  border-top: $sidebar-border-highlight;

  h2,
  .block-label {
    @include mb(2rem);
    @include pb(2);
    @include subnav-menu-heading;

    border-bottom: $border-dark;
  }

  ul {
    @include ml(3);
    flex-direction: column;
    > .nav-item {
      @include mb(3);

      &:last-child {
        @include mb(0);
      }

      &:first-child {
        @include mt(0);
      }

      > .nav-link {
        @include subnav-menu-item-text;
        @include hover-focus {
          text-decoration: underline;
        }

        color: $black;
        padding: 0;

        &.dropdown-toggle {
          white-space: normal;

          &:after {
            content: none;
          }
        }
      }
    }

    .dropdown-menu {
      border: 0;
      display: block;
      left: auto;
      min-width: auto;
      position: relative;
      top: auto;


      .dropdown-item {
        @include hover-focus {
          background: transparent;
          text-decoration: underline;
        }

        color: $black;
        font-family: $headings-font-family;
        font-size: 16px;
        letter-spacing: 0.57px;
        line-height: 22px;
        white-space: normal;
        width: auto;
      }
    }
  }
}
