{#
/**
 * @file
 * Template for bands.
 *
 * Available layout variables:
 * - wrapper: The HTML element to use to wrap this layout.
 * - attributes: The HTML attributes to use on the wrapper for this layout.
 * - content: The properties, fields, and regions for this layout.
 *
 * Region variables:
 * - band_inner
 *  -- band_header
 *  -- band_media
 *   --- band_media_inner
 *  -- band_content
 *   --- band_content_inner
 *  -- band_footer
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content for this region.
 *
 * - heading_display_class
 * - heading_class
 * - heading_utilities
 * - page_title
 * - button_outline
 * - utilities
 * - contained
 *
 */
#}
{% set type = content['#bundle'] ?: '' %}
{% set heading = content.field_pg_heading|render ? content.field_pg_heading %}
{% set heading_utilities = ['display-3'] %}
{% set image = content.field_pg_media|render ? content.field_pg_media %}
{% set body = content.field_pg_body|render ? content.field_pg_body %}
{% set cta_primary = content.field_pg_cta.0|render ? content.field_pg_cta.0 %}
{% set cta_secondary = content.field_pg_cta.1|render ? content.field_pg_cta.1 %}
{% set cta_classes = ['d-flex', 'flex-md-row', 'justify-content-center'] %}

{% if type == 'billboard' %}
  {# TODO: Assign page_title == true if billboard is on the homepage (or first?) #}
  {% include '@RADIX_SUBTHEME_MACHINE_NAME/03-organisms/band/billboard.twig' with {
    heading_utilities : ['display-2'],
    lead: body,
  } %}
{% elseif type == 'story' %}
  {% include '@RADIX_SUBTHEME_MACHINE_NAME/03-organisms/band/story.twig' with {
    cta_classes : ['d-flex', 'flex-md-row', 'flex-wrap', 'justify-content-start'],
  } %}
{% elseif type == 'content_grid' %}
  {% include '@RADIX_SUBTHEME_MACHINE_NAME/03-organisms/band/content-grid.twig' with {
    lead: body,
  } %}
{% elseif type == 'signpost_grid' %}
  {% include '@RADIX_SUBTHEME_MACHINE_NAME/03-organisms/band/signpost-grid.twig' with {
    lead: body,
    signposts: content.field_pg_signposts|render ? signposts,
  } %}
{% elseif type == 'accordion' %}
  {% include '@RADIX_SUBTHEME_MACHINE_NAME/03-organisms/band/accordion.twig' with {
    lead: body,
    accordion_items: content.field_pg_accordion_items|render ? accordion_items,
  } %}
{% elseif type == 'view_container' %}
  {% include '@RADIX_SUBTHEME_MACHINE_NAME/03-organisms/band/band.twig' with {
    lead: body,
  } %}
{% elseif type == 'testimonial' %}
  {% include '@RADIX_SUBTHEME_MACHINE_NAME/03-organisms/band/testimonial.twig' %}
{% else %}
  {% include '@RADIX_SUBTHEME_MACHINE_NAME/03-organisms/band/band.twig' %}
{% endif %}
