{#
/**
 * @file
 * Template for card layout.
 */
#}

{% if content %}
  {% set type = content['#bundle'] ?: '' %}
{% endif %}

{% if type == 'signpost' %}
  {% include '@RADIX_SUBTHEME_MACHINE_NAME/03-organisms/card/signpost.twig' %}
{% elseif type == 'accordion_item' %}
  {% include '@RADIX_SUBTHEME_MACHINE_NAME/03-organisms/card/accordion_item.twig' %}
{% else %}
  {% include '@RADIX_SUBTHEME_MACHINE_NAME/03-organisms/card/card.twig' %}
{% endif %}
