{#
/**
 * @file
 * Template for a base atom component.
 *
 * TODO: should we adopt this as a template to use for atoms, in the service of DRY?
 */
#}

{% if content|render %}
  {#### Set variables ####}
  {# Defaults #}
  {% set wrapper = wrapper ?: 'div' %}
  {% set attributes = attributes ?: create_attribute() %}
  {# Blockname #}
  {% set blockname = blockname ?: [] %}
  {# Element #}
  {% set element = element ?: '' %}
  {# Modifiers #}
  {% set modifiers = modifiers ?: [] %}
  {# Utilities #}
  {% set utilities = utilities ?: [] %}
  {% set utilities = utilities|merge([
    element,
  ]) %}

  {#### Build markup #####}
  <{{ wrapper }}{{ bem(element, modifiers, blockname, utilities) }}>{{ content }}</{{ wrapper }}>
{% endif %}
