// Custom styles for the event type.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: @todo
// -----------------------------------------------------------------------------

.node--type-event {
  &.node--view-mode-full {
    @include my(4rem);

    .page-title {
      @include mb(2rem);
    }

    .layout__face {
      .page-title {
        @include mb(0);
      }
    }

    > .layout__row--top {
      @include mb(5);
    }

    > .layout__section--bottom {
      @include mt(5);
    }

    .field--field-media.bundle--type-event.view-mode--full {
      @include media-breakpoint-down(sm) {
        @include full-bleed;
      }
      @include mb(5);
    }
  }
  &.node--view-mode-teaser {
  }
  &.node--view-mode-featured {
  }
}

.field--field-image.bundle--type-event.view-mode--full {
  @include media-breakpoint-down(sm) {
    @include full-bleed;
  }
  @include mb(5);
}

.sidebar--container {
  @include p(3);

  border: $border-dark;
  border-top: $sidebar-border-highlight;

  .field__label {
    @include mb(.8rem);
    @include pb(2);
    @include text-typography($size: 15px, $weight: 600, $ls: .5px, $lh: 1.25, $tt: uppercase);

    border-bottom: $border-default;
    color: #6d7278;
  }

  .field__item {
    @include mb(2rem);

    p {
      @include mb(0);
    }
  }
}



.field--location.bundle--type-event.view-mode--full {
  .field__item {
    @include mb(0);
  }
}

.field--field-image.bundle--type-event.view-mode--teaser {
  @include media-breakpoint-down(sm) {
    @include mt(2rem);
  }
}


.view-events {

  .card-deck {
    justify-content: flex-start;
  }
}
