// Custom styles for the @todo component.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: https://getbootstrap.com/docs/4.5/content/typography/#blockquotes
// -----------------------------------------------------------------------------


blockquote {
  @include blockquote-copy;
  @include make-col-offset(1);

  border-left: 4px solid $primary;
  @include mt(2rem);
  @include mb(2rem);
  @include pl($grid-gutter-width);

  p {
    @include blockquote-copy;
  }
}
