// Custom styles for the user page.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// -----------------------------------------------------------------------------

.user-login-form,
.user-pass {
  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }

  @include my(4rem);
}

.login-title {
  @include page-title;
}
